// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@use 'sass:math';

body {
  background: var(--fl-bgColor, var(--indigo-100));
  color: var(--fl-fgColor, var(--black));
  display: flex;
  flex-direction: column;
  font-family: var(--fl-font-family, var(--ff-sans));
  font-size: var(--step-0);
  font-weight: var(--fw-normal);
  justify-content: flex-start;
  line-height: calc(1.5 * var(--fl-lineSpace-factor, 1));
  min-height: 100vh;
}

small,
.small {
  font-size: var(--step--1);
  line-height: calc(1.6 * var(--fl-lineSpace-factor, 1));
}

a {
  color: var(--fl-linkColor);
  font-family: var(--fl-font-family, var(--ff-display));
  text-decoration: underline;
}

main,
footer {
  a {
    border-radius: 5px;
  }

  a:hover,
  a:focus,
  a:active {
    outline-style: solid;
    outline-width: 4px;
  }

  a:hover {
    background: var(--fl-linkColor, var(--accent, var(--yellow-500)));
    color: var(--fl-bgColor, currentColor);
    outline-color: var(--fl-linkColor, var(--accent, var(--yellow-500)));
  }

  a:focus {
    outline-color: var(--fl-linkColor, var(--indigo-800));
    outline-offset: 2px;
    outline-width: 2px;
  }

  a:active {
    background: var(--fl-linkColor, var(--indigo-800));
    color: var(--fl-bgColor, var(--white));
    outline-color: var(--fl-linkColor, var(--indigo-800));
  }
}

a[hreflang],
a[download],
a[rel='external'] {
  svg {
    display: inline-block;
    width: 1em;
  }

  svg:first-child {
    margin-right: 0.25em;
  }

  svg:last-child {
    margin-left: 0.25em;
  }
}

a[rel='home'] {
  border: 2px solid;
  border-radius: 5px;
  outline: none;

  &:not(:focus, :hover) {
    // override UIO styles on default state
    border-color: transparent !important;
  }
}

a[hreflang] {
  font-size: var(--step-1);
  font-weight: var(--fw-semibold);
  margin-top: var(--step-2);
}

.content a:visited {
  text-decoration-color: var(--fl-linkColor, var(--yellow-500));
}

main h1,
main h2,
main h3,
main h4,
.project__link {
  a:not([rel='external'])::after {
    background: currentcolor;
    content: '';
    margin-bottom: rem(-4);
    margin-left: 0;
    mask-image: url('../images/internal.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 1.5em;
    padding-left: 1em;
  }
}

blockquote {
  padding-left: rem(32);
}

* + blockquote {
  margin-top: rem(18);
}

.content,
.section {
  ul {
    list-style: none;
    padding-left: 0;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    line-height: calc(math.div(24, 16) * var(--fl-lineSpace-factor, 1));
  }

  li + li {
    margin-top: rem(20);
  }

  ul li::before {
    background-color: var(--fl-bgColor, var(--grey-200));
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: rem(6);
    margin: rem(3) rem(8) rem(3) 0;
    width: rem(6);
  }
}

* + p,
* + ul,
* + ol {
  margin-top: rem(20);
}

@each $name, $color in $colors {
  .section.section--bg-#{$name} {
    background: var(--fl-bgColor, $color);
  }
}

.section.section--bg-indigo-800 {
  --accent: var(--indigo-500);
}

.section.section--bg-blue-500,
.section.section--bg-coral-500,
.section.section--bg-yellow-500 {
  --accent: var(--white);
}

@each $name, $color in $colors {
  .section.section--fg-#{$name} {
    color: var(--fl-fgColor, $color);
  }
}
