/* This file contains all @font-face declarations, if any. */
@font-face {
    font-display: swap;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    src:
        url("../fonts/merriweather-900.woff2") format("woff2"),
        url("../fonts/merriweather-900.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: Mulish;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/mulish-700-subset.woff2") format("woff2");
    unicode-range: "U+46,U+52,U+61-69,U+6D-6F,U+72-75,U+77";
}

@font-face {
    font-display: swap;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/montserrat-alternates-regular-subset.woff2") format("woff2");
    unicode-range: "U+26,U+2C,U+32,U+37,U+38,U+41,U+43,U+4D,U+55,U+61-65,U+69,U+6C,U+6E,U+73,U+79";
}

@font-face {
    font-display: swap;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/montserrat-alternates-600-subset.woff2") format("woff2");
    unicode-range: "U+20,U+41,U+55,U+57,U+61-65,U+69,U+6C-6F,U+72,U+73";
}

@font-face {
    font-display: swap;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/montserrat-alternates-800-subset.woff2") format("woff2");
    unicode-range: "U+20,U+41,U+61,U+64-69,U+6B,U+6E,U+6F,U+72,U+74";
}

@font-face {
    font-display: swap;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    src:
        local(""),
        url("../fonts/work-sans-400.woff2") format("woff2"),
        url("../fonts/work-sans-400.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    src:
        local(""),
        url("../fonts/work-sans-500.woff2") format("woff2"),
        url("../fonts/work-sans-500.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    src:
        local(""),
        url("../fonts/work-sans-600.woff2") format("woff2"),
        url("../fonts/work-sans-600.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src:
        local("Open Sans Regular"),
        local("OpenSans-Regular"),
        url("../fonts/open-sans-400.woff2") format("woff2"),
        url("../fonts/open-sans-400.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src:
        local("Open Sans Italic"),
        local("OpenSans-Italic"),
        url("../fonts/open-sans-italic.woff2") format("woff2"),
        url("../fonts/open-sans-italic.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src:
        local("Open Sans Bold"),
        local("OpenSans-Bold"),
        url("../fonts/open-sans-700.woff2") format("woff2"),
        url("../fonts/open-sans-700.woff") format("woff");
}
