/* This file contains CSS helper classes. */
.visually-hidden {
    block-size: calc(1 / 16 * 1rem);
    border-width: 0;
    clip: rect(0, 0, 0, 0);
    inline-size: calc(1 / 16 * 1rem);
    margin: calc(-1 / 16 * 1rem);
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}

.container,
.wrapper {
    inline-size: 100%;
    margin-inline: auto;
    max-inline-size: calc(1200 / 16 * 1rem);
    padding-inline: calc(var(--gutter) / 2);
}
