// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.visually-hidden {
    @include visually-hidden;
}

.container,
.wrapper {
    inline-size: 100%;
    margin-inline: auto;
    max-inline-size: rem(1200);
    padding-inline: calc(var(--gutter) / 2);
}
