.brand {
    block-size: calc(80 / 16 * 1rem);
    color: var(--fl-linkColor, inherit);
    inline-size: calc(72 / 16 * 1rem);
    margin-inline-start: calc(-3 / 16 * 1rem);
    padding-block-start: calc(12 / 16 * 1rem);
    z-index: 20;

    &:hover,
    &:focus {
        background: var(--fl-linkColor, var(--black));
        color: var(--fl-bgColor, var(--white));
    }

    &:active {
        background: var(--fl-linkColor, rgb(0 0 0 / 70%));
        color: var(--fl-bgColor);
    }
}

.brand svg {
    fill: currentcolor;
    inline-size: calc(40 / 16 * 1rem);
    margin-inline-start: calc(18 / 16 * 1rem);
}

.brand .brand__logo svg {
    display: inline;
    inline-size: calc(40 / 16 * 1rem);
}

.brand .brand__logotype svg {
    display: none;
    inline-size: calc(200 / 16 * 1rem);
}

.page--home {
    .brand {
        color: var(--fl-linkColor, var(--idrc-blue));
        inline-size: calc(72 / 16 * 1rem);

        &:hover,
        &:focus {
            background: var(--fl-linkColor, var(--idrc-blue));
            color: var(--fl-bgColor, var(--white));
        }

        &:active {
            background: var(--fl-linkColor, rgb(0 160 204 / 70%));
            color: var(--fl-bgColor);
        }
    }

    .brand__logo {
        display: inline;
    }

    .brand__logotype {
        display: none;
    }
}

.banner--menu-visible,
.page--home .banner--menu-visible {
    .brand {
        color: var(--fl-fgColor, var(--white));

        &:hover,
        &:focus {
            background: var(--fl-fgColor, var(--white));
            color: var(--fl-bgColor, var(--indigo-800));
        }

        &:active {
            background: var(--fl-fgColor, var(--indigo-900));
            color: var(--fl-bgColor, var(--white));
        }
    }
}

@media (width >= 600px) {
    .brand {
        inline-size: calc(232 / 16 * 1rem);
    }

    .brand .brand__logo svg {
        display: none;
    }

    .brand .brand__logotype svg {
        display: inline;
    }
}
