@use "sass:color";

.brand {
    block-size: rem(80);
    color: var(--fl-linkColor, inherit);
    inline-size: rem(72);
    margin-inline-start: rem(-3);
    padding-block-start: rem(12);
    z-index: 20;

    &:hover,
    &:focus {
        background: var(--fl-linkColor, var(--black));
        color: var(--fl-bgColor, var(--white));
    }

    &:active {
        background: var(--fl-linkColor, color.adjust(black, $alpha: -0.3));
        color: var(--fl-bgColor);
    }
}

.brand svg {
    fill: currentcolor;
    inline-size: rem(40);
    margin-inline-start: rem(18);
}

.brand .brand__logo svg {
    display: inline;
    inline-size: rem(40);
}

.brand .brand__logotype svg {
    display: none;
    inline-size: rem(200);
}

.page--home {
    .brand {
        color: var(--fl-linkColor, var(--blue-500));
        inline-size: rem(72);

        &:hover,
        &:focus {
            background: var(--fl-linkColor, var(--blue-500));
            color: var(--fl-bgColor, var(--white));
        }

        &:active {
            background: var(--fl-linkColor, color.adjust($blue-500, $alpha: -0.3));
            color: var(--fl-bgColor);
        }
    }

    .brand__logo {
        display: inline;
    }

    .brand__logotype {
        display: none;
    }
}

.banner--menu-visible,
.page--home .banner--menu-visible {
    .brand {
        color: var(--fl-fgColor, var(--white));

        &:hover,
        &:focus {
            background: var(--fl-fgColor, var(--white));
            color: var(--fl-bgColor, var(--indigo-800));
        }

        &:active {
            background: var(--fl-fgColor, var(--indigo-900));
            color: var(--fl-bgColor, var(--white));
        }
    }
}

@include breakpoint-up(sm) {
    .brand {
        inline-size: rem(232);
    }

    .brand .brand__logo svg {
        display: none;
    }

    .brand .brand__logotype svg {
        display: inline;
    }
}
