figcaption {
    color: var(--fl-fgColor, #4f4f4f);
    font-family: var(--fl-font-family, var(--ff-sans));
    font-size: var(--step--1);
    font-style: italic;
    margin-block-start: calc(10 / 16 * 1rem);
    text-align: center;
}
