.nav {
    block-size: calc(38 / 16 * 1rem);
    z-index: 20;
}

.nav .menu-toggle {
    background: var(--fl-buttonBgColor, var(--header-bg, transparent));
    block-size: calc(34 / 16 * 1rem);
    border-radius: calc(3 / 16 * 1rem);
    color: var(--fl-buttonFgColor, var(--blue-900));
    line-height: calc(0.7 * var(--fl-lineSpace-factor, 1));
    margin-inline-end: calc(2 / 16 * 1rem);
    padding-block: calc(6 / 16 * 1rem);
    padding-inline: calc(12 / 16 * 1rem);
    position: relative;
    z-index: 20;

    &:hover {
        background: var(--fl-buttonFgColor, rgb(255 255 255 / 50%));
        color: var(--fl-buttonBgColor);
    }

    &:focus {
        background: var(--fl-buttonFgColor, var(--header-bg, transparent));
        box-shadow:
            0 0 0 calc(2 / 16 * 1rem) var(--fl-buttonFgColor, var(--parent-bg)),
            0 0 0 calc(4 / 16 * 1rem) var(--fl-buttonFgColor, var(--blue-900)),
            0 0 0 calc(2 / 16 * 1rem) var(--fl-buttonFgColor, var(--blue-900)) inset;
        color: var(--fl-buttonBgColor);
    }

    &:active {
        background-color: var(--fl-buttongBgColor, var(--indigo-800));
        color: var(--fl-buttonFgColor, var(--white));
    }

    &[aria-expanded="true"] {
        color: var(--fl-buttonFgColor, var(--header-fg));

        &:hover {
            background: var(--fl-buttonFgColor, rgb(255 255 255 / 30%));
            color: var(--fl-buttonBgColor, var(--header-fg));
        }

        &:focus {
            background: var(--fl-buttonFgColor);
            box-shadow:
                0 0 0 calc(2 / 16 * 1rem) var(--fl-buttonFgColor, var(--parent-bg)),
                0 0 0 calc(4 / 16 * 1rem) var(--fl-buttonFgColor, var(--header-fg)),
                0 0 0 calc(2 / 16 * 1rem) var(--fl-buttonFgColor, var(--header-fg)) inset;
            color: var(--fl-buttonBgColor, var(--white));
        }

        &:active {
            background: var(--fl-buttonBgColor, var(--indigo-200));
            color: var(--fl-buttonFgColor, var(--indigo-800));
        }
    }

    svg {
        display: inline-block;
        margin-inline-end: calc(4 / 16 * 1rem);
    }
}

.nav .menu {
    background: var(--fl-bgColor, var(--indigo-800));
    box-shadow:
        0 calc(20 / 16 * 1rem) calc(25 / 16 * 1rem) calc(-5 / 16 * 1rem) var(--fl-fgColor, rgb(0 0 0 / 10%)),
        0 calc(10 / 16 * 1rem) calc(10 / 16 * 1rem) calc(-5 / 16 * 1rem) var(--fl-fgColor, rgb(0 0 0 / 4%));
    color: var(--fl-fgColor, var(--white));
    display: none;
    inline-size: 100vw;
    left: calc(-1 / 2 * var(--gutter));
    padding-block: calc(88 / 16 * 1rem) calc(40 / 16 * 1rem);
    padding-inline: 0;
    position: absolute;
    z-index: 10;
}

.nav [aria-expanded="true"] + * {
    display: block;
}

.menu .menu-label {
    padding-block: 0;
    padding-inline: var(--gutter);
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: calc(2 / 16 * 1rem);
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 0;

    &.submenu-parent--submenu-visible {
        border-block-end: calc(1 / 16 * 1rem) solid var(--fl-fgColor, black);

        button[data-parent="true"] {
            text-decoration: none;
        }
    }
}

.menu li ul {
    display: none;
    margin-block-start: 0;
}

.menu a,
.menu button {
    align-items: center;
    block-size: calc(50 / 16 * 1rem);
    display: flex;
    font-family: var(--fl-font-family, var(--ff-display));
    font-weight: var(--fw-semibold);
    inline-size: 100%;
    padding-block: 0;
    padding-inline: var(--gutter);
    position: relative;
    text-align: start;
    text-decoration: none;

    &:hover,
    &:focus {
        background: var(--fl-fgColor, var(--indigo-100));
        color: var(--fl-bgColor, var(--indigo-800));
        outline: var(--fl-fgColor, transparent) solid calc(3 / 16 * 1rem);
        z-index: 1;
    }
}

.menu a {
    &:hover,
    &:focus {
        background: var(--fl-linkColor, var(--indigo-100));
        color: var(--fl-bgColor, var(--indigo-800));
    }
}

.menu button {
    &:hover,
    &:focus {
        background: var(--fl-buttonFgColor, var(--indigo-100));
        color: var(--fl-buttonBgColor, var(--indigo-800));
    }
}

.menu a,
.menu a:active {
    color: var(--fl-linkColor, var(--fl-fgColor, var(--white)));
}

.menu [aria-current="page"],
.menu [data-parent="true"] {
    text-decoration: underline;
    text-decoration-color: var(--fl-linkColor, var(--yellow-200));
    text-decoration-thickness: calc(2 / 16 * 1rem);

    &:hover,
    &:focus {
        text-decoration-color: var(--fl-bgColor, var(--indigo-800));
    }
}

.menu button svg {
    display: inline-block;
    margin-inline-start: calc(8 / 16 * 1rem);
}

.menu li ul a {
    background: var(--fl-linkColor, var(--indigo-900));
    color: var(--fl-bgColor);
    font-weight: var(--fw-normal);

    &:hover,
    &:focus {
        background: var(--fl-bgColor, var(--indigo-100));
        color: var(--fl-linkColor, var(--indigo-800));
    }
}

.menu li ul a[rel~="external"]::after,
.menu li ul a[href^="mailto:"]::after {
    background: currentcolor;
    block-size: 1.5em;
    content: "";
    display: inline-block;
    inline-size: 1.5em;
    margin-block-end: 0.125em;
    margin-inline-start: 0.125em;
    mask-image: url("../images/external.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 1.5em;
}

.page--404 {
    .nav .menu-toggle {
        color: var(--fl-fgColor, var(--header-fg));

        &:hover {
            background: var(--fl-fgColor, rgb(255 255 255 / 30%));
            color: var(--fl-bgColor, var(--header-fg));
        }

        &:focus {
            box-shadow:
                0 0 0 calc(2 / 16 * 1rem) var(--fl-fgColor, var(--parent-bg)),
                0 0 0 calc(4 / 16 * 1rem) var(--fl-fgColor, var(--header-fg)),
                0 0 0 calc(2 / 16 * 1rem) var(--fl-fgColor, var(--header-fg)) inset;
            color: var(--fl-bgColor, var(--white));
        }

        &:active {
            background: var(--fl-fgColor, var(--indigo-200));
            color: var(--fl-bgColor, var(--indigo-800));
        }
    }
}

.page--home {
    .nav .menu-toggle {
        &:hover {
            background: var(--fl-fgColor, var(--indigo-200));
        }

        &:active {
            background: var(--fl-bgColor, var(--indigo-800));
        }

        &[aria-expanded="true"] {
            &:hover {
                background: var(--fl-fgColor, rgb(255 255 255 / 30%));
            }

            &:active {
                background: var(--fl-bgColor, var(--white));
            }
        }
    }
}

.no-js {
    .nav {
        block-size: auto;
        inline-size: 100%;
    }

    .nav .menu-toggle {
        display: none;
    }

    .nav .menu {
        background: var(--fl-bgColor, var(--header-bg));
        box-shadow: none;
        color: var(--fl-fgColor, var(--header-fg));
        display: block;
        inline-size: calc(48 / 16 * 1rem + 100%);
        margin-inline: calc(-24 / 16 * 1rem);
        padding-block-start: calc(32 / 16 * 1rem);
        position: relative;
    }

    .nav .menu-label {
        block-size: calc(1 / 16 * 1rem);
        border-width: 0;
        clip: rect(0, 0, 0, 0);
        inline-size: calc(1 / 16 * 1rem);
        margin: calc(-1 / 16 * 1rem);
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
    }

    .nav li ul {
        display: block;
    }

    .menu a {
        color: var(--fl-linkColor, var(--black));

        &:hover,
        &:focus {
            background: var(--fl-linkColor, var(--black));
            color: var(--fl-bgColor, var(--white));
        }

        &:active {
            background: var(--fl-bgColor, rgb(0 0 0 / 70%));
            color: var(--fl-linkColor, var(--white));
        }
    }

    .menu button {
        background-color: var(--fl-buttonBgColor);
        color: var(--fl-buttonFgColor, var(--black));

        &:hover,
        &:focus {
            background: var(--fl-buttonFgColor, var(--black));
            color: var(--fl-buttonBgColor, var(--white));
        }

        &:active {
            background: var(--fl-buttonBgColor, rgb(0 0 0 / 70%));
            color: var(--fl-buttonFgColor, var(--white));
        }
    }

    .menu a::after {
        background: currentcolor;
        block-size: 1.5em;
        content: "";
        display: inline-block;
        margin-inline-start: 0.125em;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 1.5em;
    }

    .menu a:not([rel="external"])::after {
        inline-size: 1em;
        margin-block-end: 0;
        mask-image: url("../images/internal.svg");
    }

    .menu a[rel~="external"]::after,
    .menu a[href^="mailto:"]::after {
        inline-size: 1.5em;
        margin-block-end: 0.125em;
        mask-image: url("../images/external.svg");
    }

    .menu [data-parent="true"] {
        text-decoration: none;
    }

    .menu [aria-current="page"],
    .menu li ul [data-parent="true"] {
        text-decoration: underline;
        text-decoration-color: var(--fl-fgColor, var(--indigo-500));
        text-decoration-thickness: calc(2 / 16 * 1rem);

        &:hover,
        &:focus {
            text-decoration-color: var(--fl-bgColor, var(--white));
        }
    }

    .menu li ul a {
        background: var(--fl-bgColor, var(--header-bg));
        color: var(--fl-linkColor, var(--black));
    }

    .menu a[href="#"] {
        display: none;
    }

    .menu a[href="#"] + ul a {
        font-weight: var(--fw-semibold);
    }

    .page--404 {
        .menu a {
            color: var(--fl-linkColor, var(--white));

            &:active {
                background: var(--fl-bgColor, var(--indigo-900));
                color: var(--fl-linkColor, var(--white));
            }

            &:hover,
            &:focus {
                background: var(--fl-linkColor, var(--indigo-100));
                color: var(--fl-bgColor, var(--indigo-800));
            }
        }

        .menu button {
            background-color: var(--fl-buttonBgColor);
            color: var(--fl-buttonFgColor, var(--white));

            &:active {
                background: var(--fl-buttonBgColor, var(--indigo-900));
                color: var(--fl-buttonFgColor, var(--white));
            }

            &:hover,
            &:focus {
                background: var(--fl-buttonFgColor, var(--indigo-100));
                color: var(--fl-buttonBgColor, var(--indigo-800));
            }
        }

        .menu li ul a {
            background: var(--fl-bgColor, var(--header-bg));
            color: var(--fl-linkColor, var(--white));
        }
    }

    .page--home {
        .menu a {
            &:hover,
            &:focus {
                background: var(--fl-linkColor, var(--idrc-blue));
                color: var(--fl-bgColor, var(--black));
            }

            &:active {
                background: var(--fl-bgColor, rgb(0 160 204 / 50%));
                color: var(--fl-linkColor, var(--black));
            }
        }

        .menu button {
            &:active {
                background: var(--fl-buttonBgColor, rgb(0 160 204 / 50%));
                color: var(--fl-buttonFgColor, var(--black));
            }

            &:hover,
            &:focus {
                background: var(--fl-buttonFgColor, var(--idrc-blue));
                color: var(--fl-buttonBgColor, var(--black));
            }
        }

        .menu li ul a {
            background: var(--fl-bgColor, var(--header-bg));
            color: var(--fl-linkColor, var(--black));
        }
    }
}

@media (width >= 1024px) {
    .nav {
        block-size: calc(80 / 16 * 1rem);
        margin-inline-end: calc(-20 / 16 * 1rem);
    }

    .nav .menu-toggle {
        display: none;
    }

    .nav .menu {
        background: transparent;
        block-size: calc(80 / 16 * 1rem);
        box-shadow: none;
        display: block;
        inline-size: auto;
        margin-block-start: 0;
        padding-block: 0;
        position: relative;
        z-index: auto;
    }

    .menu .menu-label {
        block-size: calc(1 / 16 * 1rem);
        border-width: 0;
        clip: rect(0, 0, 0, 0);
        inline-size: calc(1 / 16 * 1rem);
        margin: calc(-1 / 16 * 1rem);
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
    }

    .menu ul {
        flex-direction: row;
        margin-block-start: 0;
        padding: 0;
        position: relative;
    }

    .menu li {
        padding: 0;
        position: relative;
    }

    .menu li ul {
        background: var(--fl-bgColor, var(--white));
        border: calc(5 / 16 * 1rem) solid var(--fl-buttonFgColor, transparent);
        box-shadow: 0 0 calc(10 / 16 * 1rem) rgb(0 0 0 / 25%);
        inline-size: calc(256 / 16 * 1rem);
        left: 0;
        margin-block-start: 0;
        position: absolute;
        z-index: 20;
    }

    .menu a,
    .menu button {
        align-items: center;
        block-size: calc(80 / 16 * 1rem);
        display: flex;
        font-weight: var(--fw-medium);
        padding-block: 0;
        padding-inline: calc(20 / 16 * 1rem);
    }

    .menu a {
        color: var(--fl-linkColor, var(--blue-900));

        &:active {
            background: var(--fl-bgColor, rgb(0 0 0 / 70%));
            color: var(--fl-linkColor, var(--white));
        }

        &:hover,
        &:focus {
            background: var(--fl-linkColor, var(--black));
            color: var(--fl-bgColor, var(--white));
        }
    }

    .menu button {
        background-color: var(--fl-buttonBgColor);
        color: var(--fl-buttonFgColor, var(--blue-900));

        &:active {
            background: var(--fl-buttonBgColor, rgb(0 0 0 / 70%));
            color: var(--fl-buttongFgColor, var(--white));
        }

        &:hover,
        &:focus {
            background: var(--fl-buttonFgColor, var(--black));
            color: var(--fl-buttonBgColor, var(--white));
        }
    }

    .menu [aria-expanded="true"] {
        background: var(--fl-bgColor, var(--black));
        color: var(--fl-fgColor, var(--white));
    }

    .menu [aria-current="page"],
    .menu [data-parent="true"] {
        text-decoration: underline;
        text-decoration-thickness: calc(2 / 16 * 1rem);
        text-underline-offset: calc(5 / 16 * 1rem);

        &:hover,
        &:focus {
            text-decoration-color: var(--fl-bgColor, var(--white));
        }
    }

    .menu li ul a {
        background: var(--fl-bgColor, var(--white));
        block-size: unset;
        color: var(--fl-linkColor, var(--black));
        font-weight: var(--fw-normal);
        min-block-size: calc(50 / 16 * 1rem);
        padding-block: 0;
        padding-inline: calc(20 / 16 * 1rem);

        &:hover,
        &:focus {
            background: var(--fl-linkColor, var(--yellow-500)) !important;
            color: var(--fl-bgColor, var(--black)) !important;
        }

        &:active {
            background: var(--fl-linkColor, rgb(246 224 94 / 50%));
            color: var(--fl-bgColor);
        }

        &[aria-current="page"] {
            &:hover,
            &:focus {
                text-decoration-color: var(--fl-bgColor, var(--black));
            }
        }
    }

    .page--404 {
        .menu a {
            color: var(--fl-linkColor, var(--white));

            &:active {
                background: var(--fl-bgColor, rgb(0 0 0 / 70%));
            }

            &:hover,
            &:focus {
                background: var(--fl-linkColor, var(--black));
                color: var(--fl-bgColor);
            }
        }

        .menu button {
            background-color: var(--fl-buttonBgColor);
            color: var(--fl-buttonFgColor, var(--white));

            &:active {
                background: var(--fl-buttonBgColor, rgb(0 0 0 / 70%));
            }

            &:hover,
            &:focus {
                background: var(--fl-buttonFgColor, var(--black));
                color: var(--fl-buttonBgColor);
            }
        }

        .menu li ul a {
            background: var(--fl-bgColor, var(--white));
            color: var(--fl-linkColor, var(--black));

            &:hover,
            &:focus {
                background: var(--fl-linkColor, var(--yellow-500));
                color: var(--fl-bgColor, var(--black));
            }

            &:active {
                background: var(--fl-bgColor, rgb(246 224 94 / 50%));
            }
        }
    }

    .page--home {
        .menu a {
            &:active {
                background: var(--fl-bgColor, rgb(0 160 204 / 50%));
                color: var(--fl-linkColor, var(--black));
            }

            &:hover,
            &:focus {
                background: var(--fl-linkColor, var(--idrc-blue));
                color: var(--fl-bgColor, var(--black));
            }
        }

        .menu button {
            &:active {
                background: var(--fl-buttonBgColor, rgb(0 160 204 / 50%));
                color: var(--fl-buttonFgColor, var(--black));
            }

            &:hover,
            &:focus {
                background: var(--fl-buttonFgColor, var(--idrc-blue));
                color: var(--fl-buttonBgColor, var(--black));
            }
        }

        .menu [aria-expanded="true"] {
            background: var(--fl-bgColor, var(--idrc-blue));
            color: var(--fl-fgColor, var(--black));
        }

        .menu li ul a {
            &:hover,
            &:focus {
                background: var(--fl-linkColor, var(--yellow-500));
                color: var(--fl-bgColor, var(--black));
            }

            &:active {
                background: var(--fl-bgColor, rgb(246 224 94 / 50%));
            }
        }
    }

    .no-js {
        .nav {
            block-size: calc(192 / 16 * 1rem);
            inline-size: 100%;
            margin-block-start: calc(26 / 16 * 1rem);
        }

        .nav .menu {
            block-size: calc(192 / 16 * 1rem);
            margin-inline-start: 0;
        }

        .menu ul {
            block-size: calc(160 / 16 * 1rem);
            columns: 4;
            display: block;
            inline-size: auto;
        }

        .menu li {
            padding-block-start: calc(12 / 16 * 1rem);

            &.submenu-parent {
                break-inside: avoid;
            }
        }

        .menu li ul {
            background: transparent;
            block-size: auto;
            box-shadow: none;
            break-inside: avoid;
            columns: 1;
            inline-size: 100%;
            position: relative;
        }

        .menu a {
            block-size: auto;
            display: inline;
            font-size: var(--step-2);
            inline-size: auto;
            padding: 0;
            text-decoration: none;

            &:hover,
            &:focus {
                background: var(--fl-linkColor, var(--yellow-500));
                color: var(--fl-bgColor, var(--black));
            }
        }

        .menu a:not([rel="external"])::after {
            margin-block-end: -0.4375em;
        }

        .menu a[rel~="external"]::after,
        .menu a[href^="mailto:"]::after {
            margin-block-end: -0.375em;
        }

        .menu [aria-current="page"] {
            text-decoration: underline;
            text-decoration-color: var(--fl-fgColor, var(--indigo-500));
            text-decoration-thickness: calc(3 / 16 * 1rem);

            &:hover,
            &:focus {
                text-decoration-color: var(--fl-bgColor, var(--black));
            }
        }

        .menu li ul li {
            break-inside: avoid;
            padding-block-start: 0;
        }

        .menu li ul a {
            background: transparent;
            font-size: var(--step-0);
            min-block-size: auto;
            padding: 0;
        }

        .menu a[href="#"] + ul a {
            font-size: var(--step-2);
            font-weight: var(--fw-medium);
        }

        .menu a[href="#"] + ul li + li {
            padding-block-start: calc(12 / 16 * 1rem);
        }

        .menu a:not([href="#"]) + ul li {
            margin-block-start: calc(8 / 16 * 1rem);
        }

        .menu a:not([href="#"]) + ul li + li {
            margin-block-start: calc(8 / 16 * 1rem);
        }

        .page--home {
            .menu a {
                &:hover,
                &:focus {
                    background: var(--fl-linkColor, var(--yellow-500));
                    color: var(--fl-bgColor, var(--black));
                }

                &:active {
                    background: var(--fl-bgColor, var(--yellow-500));
                }
            }
        }
    }
}

@media (width >= 1024px) {
    .nav--secondary {
        flex: 0 0 calc(1 / 3 * 100%);
        margin-block: calc(96 / 16 * 1rem);

        &::after {
            display: none;
        }

        .wrapper {
            box-shadow: calc(9 / 16 * 1rem) calc(9 / 16 * 1rem) 0 0 var(--fl-fgColor, var(--indigo-500));
            inline-size: 100%;
            margin-inline-start: 0;
        }
    }
}
