@use 'sass:color';

.nav {
  height: rem(38);
  margin-left: auto;
  margin-top: 0;
}

.nav .menu-toggle {
  background: var(--fl-buttonBgColor, var(--header-bg, transparent));
  border-radius: rem(3);
  color: var(--fl-buttonFgColor, var(--blue-900));
  height: 3rem(4);
  line-height: calc(0.7 * var(--fl-lineSpace-factor, 1));
  margin-right: rem(2);
  padding: rem(6) rem(12);
  position: relative;
  z-index: 20;

  &:hover {
    background: var(--fl-buttonFgColor, rgb(255 255 255 / 50%));
    color: var(--fl-buttonBgColor);
  }

  &:focus {
    background: var(--fl-buttonFgColor, var(--header-bg, transparent));
    box-shadow:
      0 0 0 rem(2) var(--fl-buttonFgColor, var(--parent-bg)),
      0 0 0 rem(4) var(--fl-buttonFgColor, var(--blue-900)),
      0 0 0 rem(2) var(--fl-buttonFgColor, var(--blue-900)) inset;
    color: var(--fl-buttonBgColor);
  }

  &:active {
    background-color: var(--fl-buttongBgColor, var(--indigo-800));
    color: var(--fl-buttonFgColor, var(--white));
  }

  &[aria-expanded='true'] {
    color: var(--fl-buttonFgColor, var(--header-fg));

    &:hover {
      background: var(--fl-buttonFgColor, rgb(255 255 255 / 30%));
      color: var(--fl-buttonBgColor, var(--header-fg));
    }

    &:focus {
      background: var(--fl-buttonFgColor);
      box-shadow:
        0 0 0 rem(2) var(--fl-buttonFgColor, var(--parent-bg)),
        0 0 0 rem(4) var(--fl-buttonFgColor, var(--header-fg)),
        0 0 0 rem(2) var(--fl-buttonFgColor, var(--header-fg)) inset;
      color: var(--fl-buttonBgColor, var(--white));
    }

    &:active {
      background: var(--fl-buttonBgColor, var(--indigo-200));
      color: var(--fl-buttonFgColor, var(--indigo-800));
    }
  }

  svg {
    display: inline-block;
    margin-right: rem(4);
  }
}

.nav .menu {
  background: var(--fl-bgColor, var(--indigo-800));
  box-shadow:
    0 rem(20) rem(25) rem(-5) var(--fl-fgColor, rgb(0 0 0 / 10%)),
    0 rem(10) rem(10) rem(-5) var(--fl-fgColor, rgb(0 0 0 / 4%));
  color: var(--fl-fgColor, var(--white));
  display: none;
  left: calc(-1 / 2 * var(--gutter));
  padding: rem(88) 0 rem(40);
  position: absolute;
  width: 100vw;
  z-index: 10;
}

.nav [aria-expanded='true'] + * {
  display: block;
}

.menu .menu-label {
  padding: 0 var(--gutter);
}

.menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 0;

  &.submenu-parent--submenu-visible {
    border-bottom: rem(1) solid var(--fl-fgColor, black);

    button[data-parent='true'] {
      text-decoration: none;
    }
  }
}

.menu li ul {
  display: none;
  margin-top: 0;
}

.menu a,
.menu button {
  align-items: center;
  display: flex;
  font-family: var(--fl-font-family, var(--ff-display));
  font-weight: var(--fw-semibold);
  height: rem(50);
  padding: 0 var(--gutter);
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:hover,
  &:focus {
    background: var(--fl-fgColor, var(--indigo-100));
    color: var(--fl-bgColor, var(--indigo-800));
  }
}

.menu a {
  &:hover,
  &:focus {
    background: var(--fl-linkColor, var(--indigo-100));
    color: var(--fl-bgColor, var(--indigo-800));
  }
}

.menu button {
  &:hover,
  &:focus {
    background: var(--fl-buttonFgColor, var(--indigo-100));
    color: var(--fl-buttonBgColor, var(--indigo-800));
  }
}

.menu a,
.menu a:active {
  color: var(--fl-linkColor, var(--fl-fgColor, var(--white)));
}

.menu button,
.menu button:active {
  background-color: var(--fl-buttonBgColor, var(--fl-fgColor, var(--white)));
  color: var(--fl-buttonFgColor, var(--fl-fgColor, var(--white)));
}

.menu [aria-current='page'],
.menu [data-parent='true'] {
  text-decoration: underline;
  text-decoration-color: var(--fl-linkColor, var(--yellow-200));
  text-decoration-thickness: rem(2);

  &:hover,
  &:focus {
    text-decoration-color: var(--fl-bgColor, var(--indigo-800));
  }
}

.menu button svg {
  display: inline-block;
  margin-left: rem(8);
}

.menu li ul a {
  background: var(--fl-linkColor, var(--indigo-900));
  color: var(--fl-bgColor);
  font-weight: var(--fw-normal);

  &:hover,
  &:focus {
    background: var(--fl-bgColor, var(--indigo-100));
    color: var(--fl-linkColor, var(--indigo-800));
  }
}

.menu li ul a[rel~='external']::after,
.menu li ul a[href^='mailto:']::after {
  background: currentcolor;
  content: '';
  display: inline-block;
  height: 1.5em;
  margin-bottom: 0.125em;
  margin-left: 0.125em;
  mask-image: url('../images/external.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 1.5em;
  width: 1.5em;
}

.page--404 {
  .nav .menu-toggle {
    color: var(--fl-fgColor, var(--header-fg));

    &:hover {
      background: var(--fl-fgColor, rgb(255 255 255 / 30%));
      color: var(--fl-bgColor, var(--header-fg));
    }

    &:focus {
      box-shadow:
        0 0 0 rem(2) var(--fl-fgColor, var(--parent-bg)),
        0 0 0 rem(4) var(--fl-fgColor, var(--header-fg)),
        0 0 0 rem(2) var(--fl-fgColor, var(--header-fg)) inset;
      color: var(--fl-bgColor, var(--white));
    }

    &:active {
      background: var(--fl-fgColor, var(--indigo-200));
      color: var(--fl-bgColor, var(--indigo-800));
    }
  }
}

.page--home {
  .nav .menu-toggle {
    &:hover {
      background: var(--fl-fgColor, var(--indigo-200));
    }

    &:active {
      background: var(--fl-bgColor, var(--indigo-800));
    }

    &[aria-expanded='true'] {
      &:hover {
        background: var(--fl-fgColor, rgb(255 255 255 / 30%));
      }

      &:active {
        background: var(--fl-bgColor, var(--white));
      }
    }
  }
}

.no-js {
  .nav {
    height: auto;
    width: 100%;
  }

  .nav .menu-toggle {
    display: none;
  }

  .nav .menu {
    background: var(--fl-bgColor, var(--header-bg));
    box-shadow: none;
    color: var(--fl-fgColor, var(--header-fg));
    display: block;
    margin-left: rem(-24);
    margin-right: rem(-24);
    padding-top: rem(32);
    position: relative;
    width: calc(#{rem(48)} + 100%);
  }

  .nav .menu-label {
    @include visually-hidden;
  }

  .nav li ul {
    display: block;
  }

  .menu a {
    color: var(--fl-linkColor, var(--black));

    &:hover,
    &:focus {
      background: var(--fl-linkColor, var(--black));
      color: var(--fl-bgColor, var(--white));
    }

    &:active {
      background: var(--fl-bgColor, color.adjust(black, $alpha: -0.3));
      color: var(--fl-linkColor, var(--white));
    }
  }

  .menu button {
    background-color: var(--fl-buttonBgColor);
    color: var(--fl-buttonFgColor, var(--black));

    &:hover,
    &:focus {
      background: var(--fl-buttonFgColor, var(--black));
      color: var(--fl-buttonBgColor, var(--white));
    }

    &:active {
      background: var(--fl-buttonBgColor, color.adjust(black, $alpha: -0.3));
      color: var(--fl-buttonFgColor, var(--white));
    }
  }

  .menu a::after {
    background: currentcolor;
    content: '';
    display: inline-block;
    height: 1.5em;
    margin-left: 0.125em;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 1.5em;
  }

  .menu a:not([rel='external'])::after {
    margin-bottom: 0;
    mask-image: url('../images/internal.svg');
    width: 1em;
  }

  .menu a[rel~='external']::after,
  .menu a[href^='mailto:']::after {
    margin-bottom: 0.125em;
    mask-image: url('../images/external.svg');
    width: 1.5em;
  }

  .menu [data-parent='true'] {
    text-decoration: none;
  }

  .menu [aria-current='page'],
  .menu li ul [data-parent='true'] {
    text-decoration: underline;
    text-decoration-color: var(--fl-fgColor, var(--indigo-500));
    text-decoration-thickness: rem(2);

    &:hover,
    &:focus {
      text-decoration-color: var(--fl-bgColor, var(--white));
    }
  }

  .menu li ul a {
    background: var(--fl-bgColor, var(--header-bg));
    color: var(--fl-linkColor, var(--black));
  }

  .menu a[href='#'] {
    display: none;
  }

  .menu a[href='#'] + ul a {
    font-weight: var(--fw-semibold);
  }

  .page--404 {
    .menu a {
      color: var(--fl-linkColor, var(--white));

      &:active {
        background: var(--fl-bgColor, var(--indigo-900));
        color: var(--fl-linkColor, var(--white));
      }

      &:hover,
      &:focus {
        background: var(--fl-linkColor, var(--indigo-100));
        color: var(--fl-bgColor, var(--indigo-800));
      }
    }

    .menu button {
      background-color: var(--fl-buttonBgColor);
      color: var(--fl-buttonFgColor, var(--white));

      &:active {
        background: var(--fl-buttonBgColor, var(--indigo-900));
        color: var(--fl-buttonFgColor, var(--white));
      }

      &:hover,
      &:focus {
        background: var(--fl-buttonFgColor, var(--indigo-100));
        color: var(--fl-buttonBgColor, var(--indigo-800));
      }
    }

    .menu li ul a {
      background: var(--fl-bgColor, var(--header-bg));
      color: var(--fl-linkColor, var(--white));
    }
  }

  .page--home {
    .menu a {
      &:hover,
      &:focus {
        background: var(--fl-linkColor, var(--blue-500));
        color: var(--fl-bgColor, var(--black));
      }

      &:active {
        background: var(--fl-bgColor, color.adjust($blue-500, $alpha: -0.5));
        color: var(--fl-linkColor, var(--black));
      }
    }

    .menu button {
      &:active {
        background: var(--fl-buttonBgColor, color.adjust($blue-500, $alpha: -0.5));
        color: var(--fl-buttonFgColor, var(--black));
      }

      &:hover,
      &:focus {
        background: var(--fl-buttonFgColor, var(--blue-500));
        color: var(--fl-buttonBgColor, var(--black));
      }
    }

    .menu li ul a {
      background: var(--fl-bgColor, var(--header-bg));
      color: var(--fl-linkColor, var(--black));
    }
  }
}

@include breakpoint-up(md) {
  .nav {
    height: rem(80);
    margin-right: rem(-20);
  }

  .nav .menu-toggle {
    display: none;
  }

  .nav .menu {
    background: transparent;
    box-shadow: none;
    display: block;
    height: rem(80);
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    width: auto;
    z-index: auto;
  }

  .menu .menu-label {
    @include visually-hidden;
  }

  .menu ul {
    flex-direction: row;
    margin-top: 0;
    padding: 0;
    position: relative;
  }

  .menu li {
    padding: 0;
    position: relative;
  }

  .menu li ul {
    background: var(--fl-bgColor, var(--white));
    border: rem(5) solid var(--fl-buttonFgColor, transparent);
    box-shadow: 0 0 rem(10) rgb(0 0 0 / 25%);
    left: 0;
    margin-top: 0;
    position: absolute;
    width: rem(256);
    z-index: 20;
  }

  .menu a,
  .menu button {
    align-items: center;
    display: flex;
    font-weight: var(--fw-medium);
    height: rem(80);
    padding: 0 rem(20);
  }

  .menu a {
    color: var(--fl-linkColor, var(--blue-900));

    &:active {
      background: var(--fl-bgColor, color.adjust(black, $alpha: -0.3));
      color: var(--fl-linkColor, var(--white));
    }

    &:hover,
    &:focus {
      background: var(--fl-linkColor, var(--black));
      color: var(--fl-bgColor, var(--white));
    }
  }

  .menu button {
    background-color: var(--fl-buttonBgColor);
    color: var(--fl-buttonFgColor, var(--blue-900));

    &:active {
      background: var(--fl-buttonBgColor, color.adjust(black, $alpha: -0.3));
      color: var(--fl-buttongFgColor, var(--white));
    }

    &:hover,
    &:focus {
      background: var(--fl-buttonFgColor, var(--black));
      color: var(--fl-buttonBgColor, var(--white));
    }
  }

  .menu [aria-expanded='true'] {
    background: var(--fl-bgColor, var(--black));
    color: var(--fl-fgColor, var(--white));
  }

  .menu [aria-current='page'],
  .menu [data-parent='true'] {
    text-decoration: underline;
    text-decoration-color: var(currentColor, var(--black));
    text-decoration-thickness: rem(2);
    text-underline-offset: rem(5);

    &:hover,
    &:focus {
      text-decoration-color: var(--fl-bgColor, var(--white));
    }
  }

  .menu li ul a {
    background: var(--fl-bgColor, var(--white));
    color: var(--fl-linkColor, var(--black));
    font-weight: var(--fw-normal);
    height: unset;
    min-height: rem(50);
    padding: 0 rem(20);

    &:hover,
    &:focus {
      background: var(--fl-linkColor, var(--yellow-500));
      color: var(--fl-bgColor, var(--black));
    }

    &:active {
      background: var(--fl-linkColor, color.adjust($yellow-500, $alpha: -0.5));
      color: var(--fl-bgColor);
    }

    &[aria-current='page'] {
      &:hover,
      &:focus {
        text-decoration-color: var(--fl-bgColor, var(--black));
      }
    }
  }

  .page--404 {
    .menu a {
      color: var(--fl-linkColor, var(--white));

      &:active {
        background: var(--fl-bgColor, color.adjust(black, $alpha: -0.3));
      }

      &:hover,
      &:focus {
        background: var(--fl-linkColor, var(--black));
        color: var(--fl-bgColor);
      }
    }

    .menu button {
      background-color: var(--fl-buttonBgColor);
      color: var(--fl-buttonFgColor, var(--white));

      &:active {
        background: var(--fl-buttonBgColor, color.adjust(black, $alpha: -0.3));
      }

      &:hover,
      &:focus {
        background: var(--fl-buttonFgColor, var(--black));
        color: var(--fl-buttonBgColor);
      }
    }

    .menu li ul a {
      background: var(--fl-bgColor, var(--white));
      color: var(--fl-linkColor, var(--black));

      &:hover,
      &:focus {
        background: var(--fl-linkColor, var(--yellow-500));
        color: var(--fl-bgColor, var(--black));
      }

      &:active {
        background: var(--fl-bgColor, color.adjust($yellow-500, $alpha: -0.5));
      }
    }
  }

  .page--home {
    .menu a {
      &:active {
        background: var(--fl-bgColor, color.adjust($blue-500, $alpha: -0.5));
        color: var(--fl-linkColor, var(--black));
      }

      &:hover,
      &:focus {
        background: var(--fl-linkColor, var(--blue-500));
        color: var(--fl-bgColor, var(--black));
      }
    }

    .menu button {
      &:active {
        background: var(--fl-buttonBgColor, color.adjust($blue-500, $alpha: -0.5));
        color: var(--fl-buttonFgColor, var(--black));
      }

      &:hover,
      &:focus {
        background: var(--fl-buttonFgColor, var(--blue-500));
        color: var(--fl-buttonBgColor, var(--black));
      }
    }

    .menu [aria-expanded='true'] {
      background: var(--fl-bgColor, var(--blue-500));
      color: var(--fl-fgColor, var(--black));
    }

    .menu li ul a {
      &:hover,
      &:focus {
        background: var(--fl-linkColor, var(--yellow-500));
        color: var(--fl-bgColor, var(--black));
      }

      &:active {
        background: var(--fl-bgColor, color.adjust($yellow-500, $alpha: -0.5));
      }
    }
  }

  .no-js {
    .nav {
      height: rem(192);
      margin-top: rem(26);
      width: 100%;
    }

    .nav .menu {
      height: rem(192);
      margin-left: 0;
    }

    .menu ul {
      columns: 4;
      display: block;
      height: rem(160);
      width: auto;
    }

    .menu li {
      padding-top: rem(12);

      &.submenu-parent {
        break-inside: avoid;
      }
    }

    .menu li ul {
      background: transparent;
      box-shadow: none;
      break-inside: avoid;
      columns: 1;
      height: auto;
      position: relative;
      width: 100%;
    }

    .menu a {
      display: inline;
      font-size: var(--step-2);
      height: auto;
      padding: 0;
      text-decoration: none;
      width: auto;

      &:hover,
      &:focus {
        background: var(--fl-linkColor, var(--yellow-500));
        color: var(--fl-bgColor, var(--black));
      }
    }

    .menu a:not([rel='external'])::after {
      margin-bottom: -0.4375em;
    }

    .menu a[rel~='external']::after,
    .menu a[href^='mailto:']::after {
      margin-bottom: -0.375em;
    }

    .menu [aria-current='page'] {
      text-decoration: underline;
      text-decoration-color: var(--fl-fgColor, var(--indigo-500));
      text-decoration-thickness: rem(3);

      &:hover,
      &:focus {
        text-decoration-color: var(--fl-bgColor, var(--black));
      }
    }

    .menu li ul li {
      break-inside: avoid;
      padding-top: 0;
    }

    .menu li ul a {
      background: transparent;
      font-size: var(--step-0);
      min-height: auto;
      padding: 0;
    }

    .menu a[href='#'] + ul a {
      font-size: var(--step-2);
      font-weight: var(--fw-medium);
    }

    .menu a[href='#'] + ul li + li {
      padding-top: rem(12);
    }

    .menu a:not([href='#']) + ul li {
      margin-top: rem(8);
    }

    .menu a:not([href='#']) + ul li + li {
      margin-top: rem(8);
    }

    .page--home {
      .menu a {
        &:hover,
        &:focus {
          background: var(--fl-linkColor, var(--yellow-500));
          color: var(--fl-bgColor, var(--black));
        }

        &:active {
          background: var(--fl-bgColor, var(--yellow-500));
        }
      }
    }
  }
}

@include breakpoint-up(md) {
  .nav--secondary {
    flex: 0 0 calc(1 / 3 * 100%);
    margin-bottom: rem(96);
    margin-top: rem(96);

    &::after {
      display: none;
    }

    .wrapper {
      box-shadow: rem(9) rem(9) 0 0 var(--fl-fgColor, var(--indigo-500));
      margin-left: 0;
      width: 100%;
    }
  }
}
