@use "sass:math";

.pagination {
    padding-block: rem(40);
    text-align: center;

    @include breakpoint-up(sm) {
        inline-size: 75%;
        margin-inline: auto;
    }

    @include breakpoint-up(md) {
        inline-size: 50%;
        padding-block: rem(80);
    }

    @include breakpoint-up(lg) {
        inline-size: math.div(100% * 5, 12);
    }
}

.pagination ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-inline: rem(24);
}

.pagination a {
    align-items: center;
    block-size: rem(32);
    display: flex;
    flex-direction: row;
    inline-size: rem(24);
    justify-content: center;
    margin-inline: rem(4);
    text-decoration: underline;
    vertical-align: middle;

    &::after {
        display: none;
    }
}

.pagination a[aria-current="page"] {
    background: var(--fl-bgColor, var(--indigo-800));
    color: var(--fl-linkColor, var(--white));

    &:hover,
    &:focus {
        background: var(--fl-fgColor, var(--indigo-500));
        color: var(--fl-bgColor);
    }
}

.pagination svg {
    block-size: rem(24);
    inline-size: rem(24);
}
