.page-header {
  background: var(--fl-bgColor, var(--header-bg, var(--indigo-100)));
  border-bottom: rem(10) solid var(--fl-fgColor, var(--header-border));
  color: var(--fl-fgColor, var(--header-fg, $black));
  flex: 0 0 100%;
  padding-bottom: rem(80);
  padding-top: rem(80);
  position: relative;

  .wrapper {
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - var(--gutter));
  }

  .breadcrumbs {
    font-family: var(--fl-font-family, var(--ff-display));
    font-size: var(--step-2);
    font-weight: var(--fw-semibold);
  }

  .intro {
    font-size: var(--step--1);
    margin-top: rem(20);
  }
}

@include breakpoint-up(sm) {
  .page-header{
    .wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: min-content min-content min-content;
  
      h1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
    }
  
    .breadcrumbs {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
  
    .intro {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  }
}
