.page-header,
.person-header {
    background: var(--fl-bgColor, var(--header-bg, var(--indigo-100)));
    color: var(--fl-fgColor, var(--header-fg, black));
    flex: 0 0 100%;
    padding-block: calc(80 / 16 * 1rem);
    position: relative;

    .wrapper {
        inline-size: calc(100vw - var(--gutter));
        margin: 0;
        margin-inline-start: 50%;
        transform: translateX(-50%);
    }

    .breadcrumbs {
        font-family: var(--fl-font-family, var(--ff-display));
        font-size: var(--step-2);
        font-weight: var(--fw-semibold);
    }

    .intro {
        font-size: var(--step--1);
        margin-block-start: calc(20 / 16 * 1rem);
    }
}

.page-header {
    border-block-end: calc(10 / 16 * 1rem) solid var(--fl-fgColor, var(--header-border));
}

.person-header {
    padding-block-end: 0;
}

.person-header::after {
    border-block-end: calc(10 / 16 * 1rem) solid var(--fl-fgColor, var(--header-border));
    content: "";
    display: block;
    margin-block-start: 5rem;
    margin-inline-start: calc(var(--gutter) / 2);
    width: calc(70 / 16 * 1rem);
}


.person-header .container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}

@media (width >= 600px) {
    .page-header {
        h1 {
            inline-size: 66%;
        }

        .breadcrumbs {
            inline-size: 100%;
        }

        .intro {
            inline-size: 66%;
        }
    }
}

@media (width >= 1024px) {
    .person-header .container {
        flex-direction: row;
        gap: var(--gutter);

        > div {
            inline-size: 100%;
        }
    }

    .person-header .container:has(picture) {
        > div {
            inline-size: calc(50% - var(--gutter));
        }

        picture {
            max-inline-size: calc(50% - var(--gutter));
            position: absolute;
            right: 0;
            top: 5rem;
        }
    }
}
