version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    allow:
      - dependency-type: "direct"
    ignore:
      - dependency-name: "stylelint"
        versions: ["^15"]
      - dependency-name: "stylelint-config-standard-scss"
        versions: ["^8"]
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: "monthly"
