// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
#what-is-inclusive-design {
    .section__content {
        padding-block: rem(128) 0;
        padding-inline: 0;
        position: relative;

        > * {
            position: relative;
            z-index: 10;
        }

        &::before {
            background:
                radial-gradient(
                    50% 50% at 50% 50%,
                    var(--fl-fgColor, $white) 0%,
                    var(--fl-bgColor, rgb(255 255 255 / 0%) 100%)
                )
                no-repeat
                50% 50% / 100% 100%;
            block-size: rem(640);
            content: "";
            display: block;
            inline-size: 100vw;
            left: rem(-80);
            mask-image: url("../images/scatterplot.svg");
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: rem(640);
            position: absolute;
            top: rem(-240);
        }
    }
}

#what-is-inclusive-design + * {
    z-index: 1;
}

.page--home .entry + .entry {
    margin-block-start: rem(24);
}

@include breakpoint-up(md) {
    #what-is-inclusive-design {
        .section__content {
            padding-block-start: 0;
            padding-inline-start: calc(50% + (var(--gutter) / 2));

            &::before {
                block-size: rem(896);
                inline-size: rem(896);
                left: -14vw;
                mask-size: rem(896);
                top: rem(-256);
            }
        }
    }
}
