.entries {
    .entry {
        margin: 0;
    }

    .entry + .entry {
        margin-block-start: calc(48 / 16 * 1rem);
    }
}

.entries--featured + h2 {
    margin-block-start: calc(96 / 16 * 1rem);
}

.page--news,
.page--ideas {
    main > article .content {
        padding-block: calc(40 / 16 * 1rem);
    }

    .entry .hr {
        border-block-end-color: var(--fl-fgColor, var(--indigo-500));
    }

    .entry .metadata {
        font-size: var(--step--1);
        margin-block-start: calc(24 / 16 * 1rem);
    }
}

.page--news {
    .entry {
        border-block-start: calc(3 / 16 * 1rem) solid var(--fl-fgColor, var(--indigo-500));
        padding-block-start: calc(24 / 16 * 1rem);
    }
}

.page--ideas {
    main > article header {
        background: var(--fl-bgColor, var(--yellow-500));
    }

    .entry .thumbnail {
        block-size: auto;
        border-block-start: calc(2 / 16 * 1rem) solid var(--fl-fgColor, var(--indigo-500));
        inline-size: 100%;
        margin-block-end: calc(28 / 16 * 1rem);
    }
}

@media (width >= 600px) {
    .entries {
        display: grid;
        gap: var(--gutter);
        grid-template-columns: repeat(2, 1fr);

        .entry + .entry {
            margin-block-start: 0;
        }
    }

    .entries--featured {
        display: block;

        .entry {
            display: grid;
            gap: var(--gutter);
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (width >= 1024px) {
    .entries--featured {
        h3 {
            font-family: var(--fl-font-family, var(--ff-serif));
            font-size: var(--step-2);
            font-weight: var(--fw-black);
            line-height: calc(1.25 * var(--fl-lineSpace-factor, 1));

            a {
                font-family: inherit;
            }
        }
    }

    .page--news {
        main > article .content {
            float: left;
            padding-block: calc(96 / 16 * 1rem);
            padding-inline: 0;
        }
    }

    .page--ideas {
        main > article .content {
            flex: 0 0 100%;
            padding-block: calc(80 / 16 * 1rem) calc(160 / 16 * 1rem);
        }

        .entries {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
