// -----------------------------------------------------------------------------
// This file contains generic page styles.
// -----------------------------------------------------------------------------

.page--project {
  .back-to-parent {
    flex: 0 0 100%;
    padding-left: calc(var(--gutter) / 2);
    padding-top: 4rem;
  }

  .content {
    padding-top: 2rem;
  }

  nav {
    margin-top: 2rem;
  }
}
