.page--projects-and-tools {
  .hr {
    border-bottom-color: var(--fl-fgColor, var(--indigo-500));
  }

  .tool {
    margin-top: rem(48);
  }

  .project__link,
  .tool__link {
    margin-top: rem(16);
  }

  .project {
    margin-top: rem(48);

    .thumbnail {
      height: rem(177);
      width: rem(266);
      object-fit: contain;
    }

    a[href^='/projects/'] {
      font-weight: 500;
    }
  }
}

@include breakpoint-up(sm) {
  .page--projects-and-tools {
    .projects,
    .tools {
      display: grid;
      grid-gap: var(--gutter);
      grid-template-columns: repeat(2, 1fr);
    }

    .project {
      .thumbnail {
        height: rem(247);
        width: rem(370);
      }
    }
  }
}

@include breakpoint-up(md) {
  .page--projects-and-tools {
    .projects,
    .tools {
      grid-template-columns: repeat(3, 1fr);
    }

    .project,
    .tool {
      padding: 0 calc(var(--gutter) / 2);
    }
  }
}
