// -----------------------------------------------------------------------------
// This file contains project page styles.
// -----------------------------------------------------------------------------
.page--project {
    .back-to-parent {
        flex: 0 0 100%;
        padding-block-start: 4rem;
        padding-inline-start: calc(var(--gutter) / 2);

        a {
            display: inline-flex;
            padding-inline-end: rem(8);

            svg {
                block-size: rem(24);
                inline-size: rem(24);
            }
        }
    }

    .content {
        padding-block-start: 2rem;
    }

    nav {
        margin-block-start: 2rem;
    }
}
