.page--projects {
    .projects {
        margin-block: rem(64);
        margin-inline: 0;
    }

    .project__link {
        margin-block-start: rem(16);
    }

    .project {
        margin-block-start: rem(48);

        .thumbnail {
            block-size: rem(177);
            inline-size: rem(266);
            object-fit: contain;
        }

        a[href^="/projects/"] {
            font-weight: 500;
        }
    }
}

@include breakpoint-up(sm) {
    .page--projects {
        .projects {
            display: grid;
            grid-gap: var(--gutter);
            grid-template-columns: repeat(2, 1fr);
        }

        .project {
            .thumbnail {
                block-size: rem(247);
                inline-size: rem(370);
            }
        }
    }
}

@include breakpoint-up(md) {
    .page--projects {
        .projects {
            grid-template-columns: repeat(3, 1fr);
        }

        .project {
            padding-block: 0;
            padding-inline: calc(var(--gutter) / 2);
        }
    }
}
