.page--projects-and-tools .hr {
  border-bottom-color: var(--fl-fgColor, var(--indigo-500));
}

.page--projects-and-tools .project,
.page--projects-and-tools .tool {
  margin-top: rem(48);
}

.page--projects-and-tools .project__link,
.page--projects-and-tools .tool__link {
  margin-top: rem(16);
}

@include breakpoint-up(md) {
  .page--projects-and-tools .projects,
  .page--projects-and-tools .tools {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 / 2 * var(--gutter));
    width: calc(100% + var(--gutter));
  }

  .page--projects-and-tools .project,
  .page--projects-and-tools .tool {
    flex: 0 0 50%;
    padding: 0 calc(var(--gutter) / 2);
  }
}
