.page--projects {
    background: var(--fl-bgColor, var(--white));

    .projects {
        margin-block: calc(64 / 16 * 1rem);
        margin-inline: 0;
    }

    .project__link {
        margin-block-start: calc(16 / 16 * 1rem);
    }

    .project {
        margin-block-start: calc(48 / 16 * 1rem);

        .thumbnail {
            block-size: calc(177 / 16 * 1rem);
            inline-size: calc(266 / 16 * 1rem);
            object-fit: contain;
        }

        a[href^="/projects/"] {
            font-weight: 500;
        }
    }
}

@media (width >= 600px) {
    .page--projects {
        .projects {
            display: grid;
            grid-gap: var(--gutter);
            grid-template-columns: repeat(2, 1fr);
        }

        .project {
            .thumbnail {
                block-size: calc(247 / 16 * 1rem);
                inline-size: calc(370 / 16 * 1rem);
            }
        }
    }
}

@media (width >= 1024px) {
    .page--projects {
        .projects {
            grid-template-columns: repeat(3, 1fr);
        }

        .project {
            padding-block: 0;
            padding-inline: calc(var(--gutter) / 2);
        }
    }
}
