.page--resources {
  .content {
    flex: 0 0 90%;
  }

  .filter {
    display: flex;
    flex-direction: column;
    row-gap: rem(16);

    .filter__button {
      border-top: 2px solid currentcolor;
    }
  }

  .resources-result {
    column-gap: rem(16);
    display: grid;
    margin-bottom: rem(16);
    margin-top: rem(96);
  }

  .card {
    border-top: 2px solid red;
    margin-bottom: rem(64);

    .card-image {
      background-color: gray;
      height: rem(102);
    }

    .card-title {
      margin-top: rem(8);
    }

    .card-tags {
      column-gap: rem(16);
      display: flex;
      margin-bottom: rem(8);
      margin-top: rem(8);

      .card-tag {
        border: 1px solid black;
        border-radius: 3rem;
        padding: rem(8);
      }
    }

    .card-link {
      margin-top: rem(16);
    }
  }
}

@include breakpoint-up(sm) {
  .page--resources {
    .resources-result {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
}

@include breakpoint-up(md) {
  .page--resources {
    .resources-result {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
}
