.page--resources {
  .content {
    flex: 0 0 90%;
    padding-top: rem(32);
  }

  .resources-container {
    column-gap: rem(32);
    display: grid;
  }

  .filter {
    display: flex;
    flex-direction: column;
    padding-left: rem(8);
    padding-right: rem(8);
    padding-top: rem(32);
    row-gap: rem(16);

    .filter-header {
      border-top: 2px solid var(--fl-fgColor, var(--indigo-500));
      column-gap: rem(8);
      display: grid;
      grid-template-columns: 1fr 20fr 1fr;
      padding-top: rem(8);

      .filter-title {
        column-gap: rem(8);
        display: flex;

        p {
          color: var(--fl-fgColor, var(--indigo-500));
          margin-top: 0;
        }
      }

      svg {
        height: rem(16);
        margin: auto;
        stroke: var(--fl-fgColor, var(--indigo-500));
        width: rem(16);
      }
    }

    .filter-expand-button {
      color: var(--fl-fgColor, var(--indigo-500));
      &[aria-expanded="false"] {
        .icon-plus {
          display: block;
        }
        .icon-minus {
            display: none;
        }
      }
      &[aria-expanded="true"] {
        .icon-plus {
          display: none;
        }
        .icon-minus {
            display: block;
        }
      }
    }

    // Override the default style defined in _base.scss
    ul {
      margin: rem(16) 0 rem(16) 0;

      li {
        margin-bottom: rem(8);

        &::before {
          content: none;
        }
      }
    }

    // Custom checkboxes. Reference: https://codepen.io/spacemonkey/pen/vmZROv
    .filter-checkbox {
      opacity: 0; // hide it
      position: absolute; // take it out of document flow

      & + label {
        cursor: pointer;
        padding: 0;
        position: relative;
      }

      // Box
      & + label::before {
        border-radius: rem(3);
        content: '';
        display: inline-block;
        height: rem(20);
        margin: rem(4) rem(10) 0 0;
        outline: rem(1) solid var(--fl-fgColor, var(--indigo-500));
        vertical-align: text-top;
        width: rem(20);
      }

      // Checkmark
      &:checked + label::after {
        color: var(--fl-bgColor, $white);
        content: '\2713';
        display: inline-block;
        font-size: rem(18);
        height: rem(2);
        left: rem(4);
        position: absolute;
        top: 0;
        width: rem(2);
      }
    }

    // End of custom checkboxes
  }

  .apply-button {
    background-color: var(--fl-fgColor, var(--indigo-500));
    border: 2px solid var(--fl-fgColor, var(--indigo-500));
    border-radius: rem(5);
    color: var(--fl-bgColor, $white);
    font-size: rem(16);
    font-weight: var(--fl-medium);
    line-height: rem(24);
    margin-top: rem(16);
    padding: rem(10) rem(14);
  }

  .resources-result {
    margin: 0 rem(8) rem(16) rem(8);
  }

  .card {
    border-top: 2px solid red;
    margin-bottom: rem(64);

    .card-image {
      background-color: gray;
      height: rem(102);
    }

    .card-title {
      margin-top: rem(8);
    }

    .card-tags {
      display: flex;
      flex-wrap: wrap;
      gap: rem(16);
      margin-bottom: rem(8);
      margin-top: rem(8);

      .card-tag {
        background-color: #f2f2f2;
        border: 1px solid black;
        border-radius: rem(48);
        column-gap: rem(4);
        display: flex;
        justify-content: center;
        padding: rem(8);
        white-space: nowrap;

        p {
          margin-top: 0;
        }

        svg {
          height: rem(16);
          margin: auto;
          stroke: var(--fl-fgColor, var(--black));
          width: rem(16);
        }
      }
    }

    .card-link {
      margin-top: rem(16);
    }
  }
}

// Custom styles when "enhance inputs" is enabled
// Custom checkbox
.fl-input-enhanced .filter-checkbox + label::before {
  outline: rem(3) double var(--fl-fgColor, var(--indigo-500));
}

// Box checked
.filter .filter-checkbox:checked + label::before {
  background: var(--fl-fgColor, var(--indigo-500));
}

// Box active
.filter .filter-checkbox:active + label::before {
  background-color: var(--fl-bgColor, var(--indigo-500));
  border: rem(2.5) solid var(--fl-fgColor, var(--indigo-500));
}

// Box focus
.filter .filter-checkbox:focus + label::before,
.filter .filter-checkbox:hover + label::before {
  outline: rem(3.5) double var(--fl-fgColor, var(--indigo-500));
}

// Box focus when "enhance inputs" is enabled
.fl-input-enhanced .filter-checkbox:focus + label::before,
.fl-input-enhanced .filter-checkbox:hover + label::before {
  border: rem(2.5) solid var(--fl-fgColor, var(--indigo-500));
  outline: none;
}

@include breakpoint-up(sm) {
  .page--resources {
    .resources-container {
      grid-template-columns: 1fr 2fr;
    }

    .resources-result {
      padding-right: rem(64);
    }

    .card {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    .filter {
      padding-left: rem(64);
      padding-right: 0;
    }
  }
}
