.single {
    main > article header .wrapper {
        margin-inline: auto;
    }

    main > article .content {
        flex: 0 0 100%;
        padding-block: rem(40);
    }
}

@include breakpoint-up(sm) {
    .single {
        main > article header .wrapper {
            inline-size: 75%;
        }

        main > article .content {
            flex: 0 0 75%;
        }

        &.single--idea {
            main > article header .wrapper {
                margin-inline-start: 0;
            }
        }
    }
}

@include breakpoint-up(md) {
    .single {
        main > article header .wrapper {
            inline-size: 50%;
        }

        main > article .content {
            flex: 0 0 50%;
            padding-block: rem(80);
        }

        &.single--idea {
            main > article header .wrapper {
                inline-size: 75%;
            }
        }
    }
}
