.page--team {
  .person {
    border-top: rem(4) solid var(--fl-fgColor, var(--indigo-500));
    margin: 0;
    padding-top: rem(24);

    h2 + .metadata {
      margin-top: rem(4);
    }

    .metadata p + p {
      margin-top: rem(4);
    }

    .metadata + p {
      margin-top: rem(12);
    }

    .link--email {
      align-items: center;
      display: inline-flex;
      flex-direction: row;
      font-size: var(--step--1);
      font-weight: var(--fw-semibold);
      text-decoration: none;
    }

    .link--email svg {
      display: inline-block;
      margin-right: rem(4);

      path {
        fill: currentcolor;
      }
    }
  }

  .person + .person {
    margin-top: rem(48);
  }
}

@include breakpoint-up(sm) {
  .page--team {
    .person + .person {
      margin-top: 0;
    }
  }
}

@include breakpoint-up(md) {
  .page--team {
    .people {
      column-gap: var(--gutter);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: rem(48);
    }
  }
}
