.brand {
  color: inherit;
  z-index: 20;
}

.brand:hover,
.brand:focus {
  background: var(--header-accent, var(--accent, $yellow-500));
}

.brand svg {
  fill: currentColor;
  width: 12.45689655rem;
}

.page--home {
  .brand {
    color: $logo;
  }

  .brand svg {
    width: 2.5rem;
  }
}
