.brand {
  color: inherit;
  z-index: 20;
}

.brand:hover,
.brand:focus {
  background: var(--header-accent, var(--accent, $yellow-500));
}

.home .brand {
  color: $logo;
}

.brand svg {
  fill: currentColor;
  width: 2.5rem;
}
