// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button {
  -webkit-appearance: none;
}

button:hover,
button:focus {
  outline: none;
}
