// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button:hover,
button:focus {
  background: $yellow-500;
  outline: none;
}
