.nav {
  margin-left: auto;
  margin-top: 0;
}

.nav .menu-toggle {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.nav .menu {
  background: var(--header-bg, $indigo-100);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  display: none;
  left: 0;
  margin-top: 1.5rem;
  padding: 2.5rem 0;
  position: absolute;
  width: 100vw;
  z-index: 10;

  @media screen and (min-width: 1024px) {
    box-shadow: none;
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    width: auto;
    z-index: auto;
  }
}

.nav [aria-expanded="true"] + .menu {
  display: block;
}

.nav .menu-label {
  font-family: $font-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.25;
  padding: 0 1.5rem;

  @media screen and (min-width: 1024px) {
    @include sr-only();
  }
}

.nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 1.5rem;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    margin-top: 0;
    padding: 0;
    position: relative;
  }
}

.nav li {
  padding: 0.5rem 0;

  @media screen and (min-width: 1024px) {
    padding: 0 1rem 0 0;
  }
}

.nav a {
  color: var(--header-fg, $black);
  font-weight: 500;
  text-decoration: none;
}

nav a[aria-current="page"] {
  border-bottom: 2px solid currentColor;
}

.pagination a {
  text-decoration: underline;

  &::after {
    display: none;
  }
}

.nav a:hover,
.nav a:focus {
  background: var(--header-accent, $yellow-500);
}

.pagination a[aria-current="page"] {
  background: $indigo-900;
  color: $white;

  &:hover,
  &:focus {
    background: $indigo-500;
  }
}
