.nav--secondary {
  flex: 0 0 100%;
  padding-left: calc(var(--gutter) / 2);
  padding-right: calc(var(--gutter) / 2);
  position: relative;

  .wrapper {
    background: var(--indigo-200);
    margin-left: calc(-1 * var(--gutter));
    padding: rem(40) var(--gutter);
    width: calc(100% + (2 * var(--gutter)));
  }
}

.menu--secondary a {
  align-items: center;
  border-bottom: rem(1) solid var(--black);
  display: block;
  display: flex;
  flex-direction: row;
  height: rem(50);
  justify-content: space-between;
  text-decoration: none;

  &:hover,
  &:focus {
    background: var(--indigo-800);
    border-bottom-color: transparent;
    box-shadow: calc(-1 * var(--gutter)) rem(-1) 0 rem(1) var(--indigo-800), var(--gutter) rem(-1) 0 rem(1) var(--indigo-800);
    color: var(--white);
  }

  &:active {
    background: var(--indigo-500);
    box-shadow: calc(-1 * var(--gutter)) rem(-1) 0 rem(1) var(--indigo-500), var(--gutter) rem(-1) 0 rem(1) var(--indigo-500);
  }

  &::after {
    background: currentColor;
    content: "";
    display: inline-block;
    height: 1.5em;
    margin-left: 0.125em;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 1.5em;
  }

  &:not([rel="external"])::after {
    margin-bottom: 0;
    mask-image: url('../images/internal.svg');
    width: 1em;
  }

  &[rel~="external"]::after,
  &[href^="mailto:"]::after {
    margin-bottom: 0.125em;
    mask-image: url('../images/external.svg');
    width: 1.5em;
  }

  &[aria-current="page"],
  &[data-parent="true"] {
    border-bottom-color: var(--indigo-500);
    box-shadow: inset 0 rem(-1) 0 0 var(--indigo-500);
    font-weight: var(--fw-bold);

    &:hover,
    &:focus {
      border-bottom-color: transparent;
      box-shadow: calc(-1 * var(--gutter)) rem(-1) 0 rem(1) var(--indigo-800), var(--gutter) rem(-1) 0 rem(1) var(--indigo-800);
    }

    &:active {
      border-bottom-color: transparent;
      box-shadow: calc(-1 * var(--gutter)) rem(-1) 0 rem(1) var(--indigo-500), var(--gutter) rem(-1) 0 rem(1) var(--indigo-500);
    }
  }
}

@include breakpoint-up(md) {
  .nav--secondary {
    flex: 0 0 calc(1 / 3 * 100%);
    margin-bottom: rem(144);
    margin-top: rem(144);

    &::after {
      display: none;
    }

    .wrapper {
      box-shadow: rem(9) rem(9) 0 0 var(--indigo-500);
      margin-left: 0;
      width: 100%;
    }
  }
}
