.pagination {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  text-align: center;

  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  @media (min-width: 1024px) {
    padding-bottom: 5rem;
    padding-top: 5rem;
    width: 50%;
  }

  @media (min-width: 1280px) {
    width: (100% * 5 / 12);
  }
}

.pagination ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pagination a {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 2rem;
  justify-content: center;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  vertical-align: middle;
  width: 1.5rem;
}

.pagiantion svg {
  height: 1.5rem;
  width: 1.5rem;
}
