<a class="brand{{ ' text-' + headerTextColor if headerTextColor }}" rel="home" href="/">
    {% if page.url === '/' %}
        {% include "svg/logo.svg" %}
    {% else %}
        {% include "svg/logo-wordmark.svg" %}
    {% endif %}
    <span class="sr-only">Inclusive Design Research Centre</span>
</a>
