<a class="brand" rel="home" href="/">
    {% if page.url === '/' %}
        {% include "svg/logo.svg" %}
    {% else %}
        <span class="brand__logo">
        {% include "svg/logo.svg" %}
        </span>
        <span class="brand__logotype">
        {% include "svg/logo-wordmark.svg" %}
        </span>
    {% endif %}
    <span class="visually-hidden">Inclusive Design Research Centre</span>
</a>
