<div class="filter-header">
    <svg role="presentation"><use xlink:href="{{ filterIconId }}" /></svg>
    <p>{{ filterTitle }}</p>
    <button type="button" class="filter-expand-button" data-section="{{ filterType | replace(" ", "") }}" aria-expanded={% if filterType === "topics" %}"true"{% else %}"false"{% endif %} aria-label="expand or collapse the {{ filterType }} filter">
        +
    </button>
</div>