<article class="entry">
    {% if post.data.thumbnailImage %}
    <div class="thumbnail" style="background-image: url({{ post.data.thumbnailImage }});"></div>
    {% else %}
    <div class="thumbnail" style="background-image: url(/images/default.png);"></div>
    {% endif %}
    <div class="entry-content">
    <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
    <p class="metadata">
        By {{ post.data.author if post.data.author else 'IDRC Team' }}
        <span class="separator" aria-hidden="true"> &middot; </span>
        <time datetime="{{ post.data.date | w3DateFilter }}" class="dt-published">{{ post.data.date | dateFilter }}</time>
    </p>
    {% if post.data.excerpt %}
    <p>{{ post.data.excerpt | safe }}</p>
    {% endif %}
    </div>
</article>
