<article class="entry">
    <h2 class="h3"><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
    <p class="metadata">
        By {{ item.data.author if item.data.author else 'IDRC Team' }}
        <span class="separator" aria-hidden="true">&middot;</span>
        <time datetime="{{ item.data.date | isoDate }}" class="dt-published">{{ item.data.date | formatDate }}</time>
    </p>
    {% if item.data.excerpt %}
    <p class="small">{{ item.data.excerpt | safe }}</p>
    {% endif %}
</article>
