<footer>
    <h2 id="more-about-us">More about us</h2>
    <nav aria-labelledby="more-about-us">
        <ul>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Philosophy</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">News</a></li>
        </ul>
    </nav>
</footer>
