<header class="page-header" {% if locale !== 'en-CA' %} lang="en-CA" dir="ltr" {% endif %}>
    <div class="wrapper">
        {% set breadcrumbs = [] %}
        {% if eleventyNavigation.key and 'projects' not in page.url %}
        {% set breadcrumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
        {% endif %}
        {% if breadcrumbs.length > 0 %}
        <p class="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb.url !== '#' %}
            <a href="{{ breadcrumb.url | url }}">{{ breadcrumb.key }}</a>
            {% else %}
            {{ breadcrumb.key }}
            {% endif %}
        {% endfor %}
        </p>
        {% endif %}
        <h1>{{ title }}</h1>
        {% if projectName %}
        {% for language, languageData in config.languages %}
                    {% if locale and locale !== language %}
                        {% set matchedProject = false %}
                        {% for project in collections['projects_' + language] %}
                            {% if project.fileSlug === translationKey %}
                                 {% set matchedProject = project %}
                            {% endif %}
                        {% endfor %}
                        {% if matchedProject %}
                            <a hreflang="{{ language }}" lang="{{ language }}" dir="{{ config.languages[locale].dir if locale else 'ltr' }}" href="{{ matchedProject.url }}">{% include 'svg/icon-translation.svg' %}{% _i language, "Read in ${locale}", {locale: languageData.name} %}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
        {% endif %}
        {% if intro %}
        <div class="intro">{{ intro | markdownFilter | safe }}</div>
        {% endif %}
    </div>
</header>
