<header>
    <div class="container inner">
        {% set breadcrumbs = [] %}
        {% if eleventyNavigation.key %}
        {% set breadcrumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
        {% endif %}
        {% if breadcrumbs.length > 0 %}
        <p class="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
            <a href="{{ breadcrumb.url | url }}">{{ breadcrumb.key }}</a>
        {% endfor %}
        </p>
        {% endif %}
        <h1>{{ title }}</h1>
        {% if intro %}
        <div class="intro">{{ intro | markdownFilter | safe }}</div>
        {% endif %}
    </div>
</header>
