<nav class="pagination" aria-labelledby="pagination">
    <h2 id="pagination" class="visually-hidden">news page navigation</h2>
    <ul class="container">
    {%- if pagination.href.previous %}
        <li><a class="pagination-link" href="{{ pagination.href.previous }}">{% include 'svg/previous.svg' %}<span class="visually-hidden">previous</span></a></li>
    {%- endif %}
    {%- for pageEntry in pagination.pages %}
        <li><a class="pagination-link" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
    {%- endfor %}
    {%- if pagination.href.next %}
        <li><a class="pagination-link" href="{{ pagination.href.next }}"><span class="visually-hidden">next</span>{% include 'svg/next.svg' %}</a></li>
    {%- endif %}
    </ul>
</nav>
