<div class="entry">
    <h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
    <p>Published <time datetime="{{ item.data.date | isoDate }}" class="dt-published">{{ item.data.date | formatDate }}</time></p>
</div>
