<header>
    <div class="wrapper">
        {% if postType %}
        <p class="breadcrumbs"><a href="{{ postTypeUrl }}">{{ postType }}</a></p>
        {% endif %}
        <h1>{{ title }}</h1>
        <p class="metadata">
            By {{ author if author else 'IDRC Team' }}
            <span class="separator" aria-hidden="true">&middot;</span>
            <time datetime="{{ date | isoDate }}" class="dt-published">{{ date | formatDate }}</time>
        </p>
    </div>
</header>
