<header role="banner" class="banner">
    <div class="container">
        {% include "partials/components/brand.njk" %}
        {% include "partials/components/navigation.njk" %}
    </div>
</header>
