<header role="banner" class="pt-6 bg-{{ headerbgcolor if headerbgcolor else 'indigo-100' }} text-{{ headertextcolor if headertextcolor else 'black' }}">
    <div class="container flex flex-row items-center px-6 mx-auto">
        {% include "partials/components/brand.njk" %}
        {% include "partials/components/navigation.njk" %}
    </div>
</header>
