<link href="/assets{{ assets['/styles/app.css'] }}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/lib/infusion/src/lib/normalize/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/core/css/fluid.css" />
<link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/Enactors.css" />
<link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/PrefsEditor.css" />
<link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/SeparatedPanelPrefsEditor.css" />
