// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
* {
  @apply font-sans leading-normal;
}

body {
  @apply bg-indigo-100 text-black;
}

a {
  @apply underline font-display;
}

a:hover,
a:focus {
  @apply bg-yellow-500 outline-none;
}

a:visited,
a:visited .underline {
  text-decoration-color: #f6e05e;
}

@supports (mask-image: url('dot.svg')) {
  main a:not([rel="external"])::after {
    background-color: currentColor;
    content: "";
    mask-image: url('../images/internal.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 1.5em;

    @apply pl-4 ml-0 -mb-1;
  }

  a[rel~="external"]::after,
  a[href^="mailto:"]::after {
    background-color: currentColor;
    content: "";
    mask-image: url('../images/external.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 1.5em;

    @apply pl-4 ml-1 -mb-1;
  }
}

.bg-indigo-900 {
  a:hover,
  a:focus {
    @apply bg-indigo-500;
  }

  a:visited,
  a:visited .underline {
    text-decoration-color: #3544d0;
  }
}

.bg-blue-500,
.bg-red-500,
.bg-yellow-500 {
  a:hover,
  a:focus {
    @apply bg-white;
  }

  a:visited,
  a:visited .underline {
    text-decoration-color: #fff;
  }
}

blockquote {
  @apply pl-8;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li + li {
  @apply mt-0;
}
