// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
body {
  background: var(--indigo-100);
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-family: var(--ff-sans);
  font-size: var(--step-0);
  font-weight: var(--fw-normal);
  justify-content: flex-start;
  line-height: 1.5;
  min-height: 100vh;
}

small {
  font-size: var(--step--1);
  line-height: 1.6;
}

a {
  font-family: var(--ff-display);
  text-decoration: underline;
}

a:hover,
a:focus {
  background: var(--accent, var(--yellow-500));
  outline: none;
}

.content a:visited {
  text-decoration-color: #f6e05e;
}

main h1,
main h2,
main h3,
main h4,
.project__link,
.tool__link {
  a:not([rel="external"])::after {
    background: currentColor;
    content: "";
    margin-bottom: -0.25rem;
    margin-left: 0;
    mask-image: url('../images/internal.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 1.5em;
    padding-left: 1em;
  }

  a[rel~="external"]::after,
  a[href^="mailto:"]::after {
    background-color: currentColor;
    content: "";
    margin-bottom: -0.25rem;
    margin-left: 0.25rem;
    mask-image: url('../images/external.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 1.5em;
    padding-left: 1em;
  }
}

blockquote {
  padding-left: 2rem;
}

.content,
.section {
  ul {
    list-style: none;
    padding-left: 0;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    line-height: (24 / 16);
  }

  li + li {
    margin-top: 0.875rem;
  }

  ul li::before {
    background-color: var(--grey-100);
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 0.375rem;
    margin: 0.1875rem 0.5rem 0.1875rem 0;
    width: 0.375rem;
  }
}

@each $name, $color in $colors {
  .section.section--bg-#{$name} {
    background: $color;
  }
}

.section.section--bg-indigo-900 {
  --accent: var(--indigo-500);
}

.section.section--bg-blue-500,
.section.section--bg-red-500,
.section.section--bg-yellow-500 {
  --accent: var(--white);
}

@each $name, $color in $colors {
  .section.section--fg-#{$name} {
    color: $color;
  }
}
