// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
* {
  font-family: $font-sans;
  line-height: 1.5;
}

body {
  background: $indigo-100;
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

a {
  font-family: $font-display;
  text-decoration: underline;
}

a:hover,
a:focus {
  background: var(--accent, $yellow-500);
  outline: none;
}

a:visited,
a:visited .underline {
  text-decoration-color: none;
}

@supports (mask-image: url('dot.svg')) {
  main a:not([rel="external"])::after {
    background: currentColor;
    content: "";
    margin-bottom: -0.25rem;
    margin-left: 0;
    mask-image: url('../images/internal.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 1.5em;
    padding-left: 1rem;
  }

  a[rel~="external"]::after,
  a[href^="mailto:"]::after {
    background-color: currentColor;
    content: "";
    margin-bottom: -0.25rem;
    margin-left: 0.25rem;
    mask-image: url('../images/external.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 1.5em;
    padding-left: 1rem;
  }
}

blockquote {
  padding-left: 2rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li + li {
  margin-top: 0;
}

@each $name, $color in $colors {
  .section.section--bg-#{$name} {
    background: $color;
  }
}

.section.section--bg-indigo-900 {
  --accent: #{$indigo-500};
}

.section.section--bg-blue-500,
.section.section--bg-red-500,
.section.section--bg-yellow-500 {
  --accent: #{$white};
}

@each $name, $color in $colors {
  .section.section--fg-#{$name} {
    color: $color;
  }
}
