/**
 * Basic typography style for copy text
 */

h1,
.h1 {
  font-family: var(--ff-serif);
  font-size: var(--step-6);
  font-weight: var(--fw-black);
  line-height: 1.3;
}

h2,
.h2 {
  font-family: var(--ff-serif);
  font-size: var(--step-5);
  font-weight: var(--fw-black);
  line-height: 1.3;
}

h3,
.h3 {
  font-family: var(--ff-display);
  font-size: var(--step-3);
  font-weight: var(--fw-semibold);
  line-height: 1.3;
}

h4,
.h4 {
  font-family: var(--ff-display);
  font-size: var(--step-1);
  font-weight: var(--fw-semibold);
  line-height: 1.3;
}

p + * {
  margin-top: 1.5rem;
}

ul + *,
ol + * {
  margin-top: 1.5rem;
}

h2 + *,
.h2 + * {
  margin-top: 1.5rem;
}

h3 + p {
  margin-top: 1rem;
}

* + ul,
* + ol {
  margin-top: 1.5rem;
}

h4 + p,
h4 + ul,
h4 + ol,
.h4 + p,
.h4 + ul,
.h4 + ol {
  margin-top: 0.75rem;
}

.h3 + p {
  margin-top: 0.25rem;
}

@media (min-width: 1024px) {
  h1,
  .h1 {
    font-size: var(--step-8);
  }

  h2,
  .h2 {
    font-size: var(--step-7);
  }

  h3,
  .h3 {
    font-size: var(--step-4);
  }

  h4,
  .h4 {
    font-size: var(--step-2);
  }
}
