// -----------------------------------------------------------------------------
// This file contains generic page styles.
// -----------------------------------------------------------------------------

article header {
  @apply w-screen transform -translate-x-1/2;

  margin-left: 50%;
}

.section--full {
  @apply mx-auto w-screen transform -translate-x-1/2;

  margin-left: 50%;
}

.section--full-bleed {
  @apply w-screen transform -translate-x-1/2;

  margin-left: 50%;
}

@media (min-width: 1024px) {
  .section--half {
    @apply max-w-screen-sm mx-auto inline-block;

    width: 50%;
  }
}

@media (min-width: 1280px) {
  .section--half {
    @apply w-full;
  }
}
