// -----------------------------------------------------------------------------
// This file contains generic page styles.
// -----------------------------------------------------------------------------

article header {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}

.section--full {
  margin-left: 50%;
  margin-right: auto;
  transform: translateX(-50%);
  width: 100vw;
}

.section--full-bleed {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}

@media (min-width: 1024px) {
  .section--half {
    display: inline-block;
    margin: 0 auto;
    max-width: 640px;
    width: (100% / 2);
  }

  .section--third {
    display: inline-block;
    margin: 0 auto;
    max-width: 640px;
    width: (100 / 3);
  }
}

@media (min-width: 1280px) {
  .section--half {
    width: 100%;
  }
}
