.timeline {
  margin-top: rem(64);
  position: relative;
}

.line {
  color: transparentize($indigo-500, 0.5);
  left: 0;
  position: absolute;
  top: rem(16);
}

.milestones {
  padding-left: rem(36);
}

.milestones dt {
  font-family: var(--ff-display);
  font-size: var(--step-2);
  position: relative;
}

.milestones dt::before {
  background: var(--indigo-500);
  border-radius: 50%;
  content: "";
  display: block;
  height: rem(10);
  left: rem(-40);
  position: absolute;
  top: rem(12);
  width: rem(10);
}

.milestones dt.major::before {
  background: var(--indigo-800);
  height: rem(20);
  left: rem(-45);
  top: rem(8);
  width: rem(20);
}

.milestones dd + dt {
  margin-top: var(--step-5);
}

.milestones dd {
  margin-top: rem(8);
}

.milestones dd .description {
  margin-top: rem(8);
}
