.page--news main > article {
  margin: 0 auto;
}

.page--news main > article header {
  background: $blue-500;
  color: $black;
  padding: 5rem 0;
}

.page--news main > article header .inner {
  margin: 0 auto;
}

.page--news main > article header h1 {
  padding: 0;
  width: 100%;

  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.page--news main > article .content {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;

  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  @media (min-width: 1024px) {
    padding-bottom: 5rem;
    padding-top: 5rem;
    width: 50%;
  }

  @media (min-width: 1280px) {
    width: (100% * 5 / 12);
  }
}

.page--news .entry {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.page--news .entry .hr {
  border-bottom-color: $indigo-500;
}

.page--news .entry .metadata {
  font-size: 0.857rem;
  margin-top: 1.5rem;
}
