.post article {
  margin: 0 auto;
}

.post article header {
  background: $white;
  color: $black;
  padding: 5rem 0;
}

.post article header .inner {
  margin: 0 auto;
}

.post article h1,
.post article .metadata {
  padding: 0 1.5rem;

  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  @media (min-width: 1024px) {
    width: 50%;
  }

  @media (min-width: 1280px) {
    width: (100% * 5 / 12);
  }
}

.post article .metadata {
  font-size: 0.875rem;
  margin-top: 1.5rem;
}

.post article .content {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;

  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  @media (min-width: 1024px) {
    padding-bottom: 5rem;
    padding-top: 5rem;
    width: 50%;
  }

  @media (min-width: 1280px) {
    width: (100% * 5 / 12);
  }
}
