.post,
.idea {
  article {
    margin: 0 auto;
  }

  article header {
    background: $white;
    color: $black;
    padding: 5rem 0;
  }

  article header .inner {
    margin: 0 auto;
  }

  article .post-type,
  article h1,
  article .metadata {
    padding: 0 1.5rem;

    @media (min-width: 768px) {
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }

    @media (min-width: 1024px) {
      width: 50%;
    }

    @media (min-width: 1280px) {
      width: (100% * 5 / 12);
    }
  }

  article .post-type {
    font-family: $font-display;
    font-size: 1.375rem;
    font-weight: 600;

    @media (min-width: 1024px) {
      font-size: 1.75rem;
    }
  }

  article .metadata {
    font-size: 0.875rem;
    margin-top: 1.5rem;
  }

  article .metadata .separator {
    color: transparent;
    display: block;
    height: 0.25rem;
  }

  @media (min-width: 768px) {
    article .metadata .separator {
      color: inherit;
      display: inline;
      height: auto;
    }
  }

  article .content {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;

    @media (min-width: 768px) {
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }

    @media (min-width: 1024px) {
      padding-bottom: 5rem;
      padding-top: 5rem;
      width: 50%;
    }

    @media (min-width: 1280px) {
      width: (100% * 5 / 12);
    }
  }
}
