{% extends 'layouts/base.njk' %}

{% set pageType = 'page--404' %}

{% block content %}
    <article>
        <header>
            <div class="container inner">
                <h1>{{ title }}</h1>
            </div>
        </header>
        <div class="content">
            <div class="inner">
            {{ content | safe }}
            </div>
        </div>
    </article>
{% endblock %}

{{ content | safe }}
