{% extends 'layouts/base.njk' %}

{% set pageType = 'page--404' %}

{% block content %}
    {% include 'partials/components/page-header.njk' %}
    <article>
        <div class="content">
            <div class="wrapper">
            {{ content | safe }}
            </div>
        </div>
    </article>
{% endblock %}

{{ content | safe }}
