<!doctype html>
<html lang="en-ca" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% include "partials/global/meta-info.njk" %}
        <link rel="icon" href="/assets/images/favicon.svg" type="image/svg+xml" />
        <link rel="icon" href="/assets/images/favicon.png" />
        <link rel="apple-touch-icon" href="/assets/images/icon-192.png">
        <link rel="manifest" href="/manifest.webmanifest">
        {% if headerBgColor or headerTextColor %}
        <style>
            :root {
            {% if headerBgColor %}
                --header-bg: var(--{{ headerBgColor }});
            {% endif %}
            {% if headerTextColor %}
                --header-fg: var(--{{ headerTextColor }});
            {% endif %}
            {% if headerBgColor === 'blue-500' or headerBgColor === 'blue-200' or headerBgColor === 'coral-500' or headerBgColor === 'yellow-500' %}
                {% set headerAccentColor = 'white' %}
            {% elif headerBgColor === 'indigo-800' %}
                {% set headerAccentColor = 'indigo-500' %}
            {% endif %}
                --header-accent: var(--{{ headerAccentColor }}, var(--yellow-500));
            {% if headerBorderColor %}
                --header-border: var(--{{ headerBorderColor }});
            {% elif headerBgColor %}
                --header-border: var(--{{ headerBgColor }});
            {% endif %}
            }
        </style>
        {% endif %}
        {% include "partials/global/stylesheets.njk" %}
        <script>document.documentElement.classList.remove('no-js');</script>
        {% include "partials/global/scripts.njk" %}
        {% if global.context == 'production' %}
        <script>
        if ("serviceWorker" in navigator)
            navigator.serviceWorker.register("/sw.js");
        </script>
        {% endif %}
        {% block head %}
        {% endblock %}
    </head>
    <body class="{{ pageType }}">
        {# Due to https://bugs.webkit.org/show_bug.cgi?id=127102 we need to access the SVG filter from an embedded SVG
        instead of an external one. #}
        {% include "svg/filters.svg" %}
        {% uioTemplate %}
        {% include "partials/global/header.njk" %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% include "partials/global/footer.njk" %}
        {% block footerScripts %}{% endblock %}
        <script>
            fluid.uiOptions(".flc-prefsEditor-separatedPanel", {
                preferences: [
                    "fluid.prefs.lineSpace",
                    "fluid.prefs.textFont",
                    "fluid.prefs.contrast",
                    "fluid.prefs.enhanceInputs",
                    "fluid.prefs.syllabification"
                ],
                auxiliarySchema: {
                    terms: {
                        templatePrefix: "/lib/infusion/src/framework/preferences/html",
                        messagePrefix: "/lib/infusion/src/framework/preferences/messages"
                    },
                    "fluid.prefs.syllabification": {
                        enactor: {
                            terms: {
                                patternPrefix: "/lib/infusion/src/lib/hypher/patterns"
                            }
                        }
                    }
                }
            });
        </script>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
    </body>
</html>
