{% if previewMode %}
    {% extends 'layouts/preview.njk' %}
{% else %}
    {% extends 'layouts/base.njk' %}
{% endif %}

{% set pageType = 'page--ideas' %}

{% block content %}
    <article>
        {% include 'partials/components/page-header.njk' %}
        <div class="content">
            <div class="wrapper">
            {% if pagination.pageNumber == 0 %}
                {% if collections.featured.length %}
                <h2 class="h4">Featured</h2>
                <div class="grid grid--featured">
                {% for post in collections.featured | limit(2) %}
                    {% include 'partials/components/idea-grid-item.njk' %}
                {% endfor %}
                </div>
                {% endif %}
            {% endif %}
            <h2 class="h4">Latest</h2>
            {% if posts.length %}
                <div class="grid">
                {% for post in posts %}
                {% include 'partials/components/idea-grid-item.njk' %}
                {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>
        {% if pagination.pages.length > 1 %}
        {% include 'partials/components/pagination.njk' %}
        {% endif %}
    </article>
{% endblock %}

{{ content | safe }}
