{% if previewMode %}
    {% extends 'layouts/preview.njk' %}
{% else %}
    {% extends 'layouts/base.njk' %}
{% endif %}

{% set pageType = 'page--news' %}

{% block content %}
    {% include 'partials/components/page-header.njk' %}
    <article>
        <div class="content">
            <div class="wrapper">
            {% if posts.length %}
                <div class="entries">
                {% for item in posts %}
                {% include 'partials/components/news-grid-item.njk' %}
                {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>
        {% if pagination.pages.length > 1 %}
        {% include 'partials/components/pagination.njk' %}
        {% endif %}
        {% if secondaryNavigation %}
        {% include 'partials/components/secondary-navigation.njk' %}
        {% endif %}
    </article>
{% endblock %}

{{ content | safe }}
