{% extends 'layouts/base.njk' %}

{% set pageType = 'page--generic' %}

{% block content %}
    <article class="container">
        <header class="{{ 'header--bg-' + headerBgColor if headerBgColor }} {{ 'header--fg-' + headerTextColor if headerTextColor }}">
            <div class="container inner">
                <h1>{{ title }}</h1>
                {% if intro %}
                <div class="intro">{{ intro | markdownFilter | safe }}</div>
                {% endif %}
            </div>
        </header>
        {% for section in sections %}
        <section id="{{ section.title | slug }}" class="section
        {{ 'section--full-bleed' if section.desktopWidth == 'full-bleed' }}
        {{ 'section--full' if section.desktopWidth == 'full' }}
        {{ 'section--half' if section.desktopWidth == 'half' }}
        {{ 'section--third' if section.desktopWidth == 'third' }}
        {{ 'section--image' if section.image }}
        {{ 'center' if section.desktopAlignment == 'center' }}
        {{ 'section--bg-' + section.backgroundColor if section.backgroundColor }}
        {{ 'section--fg-' + section.textColor if section.textColor }}">
            <div class="container">
                {% if section.imageOrder == 'start' %}
                <figure class="{{ 'swap' if section.imageOrderDesktop == 'swap' }} {{ 'shadow-' + section.imageShadow if section.imageShadow }}">
                    <img src="{{ section.image }}" {% if section.image2x %}srcset="{{ section.image }} 1x, {{ section.image2x }} 2x" {% endif %}alt="{{ section.imageAltText }}" width="640" height="427" />
                </figure>
                {% endif %}
                <div class="section__content">
                    {% if section.borderColor %}<span class="hr hr--{{ section.borderColor }}"></span>{% endif %}
                    <h2>{{ section.title }}</h2>
                    {{ section.content | markdownFilter | safe }}
                </div>
                {% if section.imageOrder == 'end' %}
                <figure class="{{ 'swap' if section.imageOrderDesktop == 'swap' }} shadow-{{ section.imageShadow if section.imageShadow else 'indigo-500' }}">
                    <img src="{{ section.image }}" {% if section.image2x %}srcset="{{ section.image }} 1x, {{ section.image2x }} 2x" {% endif %}alt="{{ section.imageAltText }}" width="640" height="427" />
                </figure>
                {% endif %}
            </div>
        </section>
        {% endfor %}
    </article>
{% endblock %}
