{% extends 'layouts/base.njk' %}

{% block content %}
    <article class="container px-6 mx-auto page">
        <header>
            <h1>{{ title }}</h1>
        </header>
        {{ content | safe }}
    </article>
{% endblock %}

{{ content | safe }}
