{% if previewMode %}
    {% extends 'layouts/preview.njk' %}
{% else %}
    {% extends 'layouts/base.njk' %}
{% endif %}

{% set pageType = 'page--generic' %}

{% block content %}
    <article>
        {% include 'partials/components/page-header.njk' %}
        {%- if sections and sections.length > 0 %}
            {%- for section in sections %}
            {% include 'partials/components/section.njk' %}
            {%- endfor %}
        {%- else %}
        <div class="content">
            <div class="wrapper">
                {{ content | safe }}
            </div>
        </div>
        {%- endif %}
        {% if secondaryNavigation %}
        {% include 'partials/components/secondary-navigation.njk' %}
        {% endif %}
    </article>
{% endblock %}
