{% extends 'layouts/base.njk' %}

{% set pageType = 'page--team' %}

{% block content %}
    <article class="container">
        {% include 'partials/components/page-header.njk' %}
        <div class="content">
            <div class="inner">
                <div class="grid grid--people">
                {% for person in collections.people %}
                {% include 'partials/components/person-excerpt.njk' %}
                {% endfor %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
