{% extends 'layouts/base.njk' %}

{% set pageType = 'page--team' %}

{% block content %}
    {% include 'partials/components/page-header.njk' %}
    <article>
        <div class="content">
            <div class="wrapper">
                <div class="people">
                {% for person in collections.people %}
                {% include 'partials/components/person-excerpt.njk' %}
                {% endfor %}
                </div>
            </div>
        </div>
        {% if secondaryNavigation %}
        {% include 'partials/components/secondary-navigation.njk' %}
        {% endif %}
    </article>
{% endblock %}
