{% extends 'layouts/base.njk' %}

{% set pageType = 'post' %}

{% block content %}
    <article class="container">
        <header>
            <div class="container inner">
                <p class="post-type">News</p>
                <h1>{{ title }}</h1>
                <p class="metadata">
                    By {{ author if author else 'IDRC Team' }}
                    <span class="separator" aria-hidden="true"> &middot; </span>
                    <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
                </p>
            </div>
        </header>
        <div class="content">
            <div class="inner">
            {{ content | safe }}
            </div>
        </div>
    </article>
{% endblock %}

{{ content | safe }}
