{% if previewMode %}
    {% extends 'layouts/preview.njk' %}
{% else %}
    {% extends 'layouts/base.njk' %}
{% endif %}

{% set pageType = 'page--projects' %}

{% block content %}
    <article>
        {% include 'partials/components/page-header.njk' %}
        <div class="projects">
            {% for project in collections.projects %}
            <article class="project">
                {% if project.data.thumbnailImage %}
                <img class="thumbnail" src="{{ project.data.thumbnailImage }}" role="presentation" alt="" />
                {% else %}
                <img class="thumbnail" src="/assets/images/project-placeholder.svg" role="presentation" alt="" />
                {% endif %}
                <h3>{{ project.data.projectName }}{{ " (" + project.data.shortName + ")" if project.data.shortName }}</h3>
                {% if project.data.content %}
                {% set fullDescription = project.data.description + " [More about " + project.data.projectName + "](" + project.url + ")" %}
                {{ fullDescription | markdown | safe }}
                {% else %}
                {{ project.data.description | markdown | safe }}
                {% endif %}
                {% if project.data.link %}
                <p class="project__link"><a rel="external" href="{{ project.data.link }}">Go to: {{ project.data.shortName if project.data.shortName else project.data.projectName }} website</a></p>
                {% endif %}
            </article>
            {% endfor %}
        </div>
    </article>
{% endblock %}
