{% extends 'layouts/base.njk' %}

{% set pageType = 'page--projects-and-tools' %}

{% block content %}
    <article class="container mx-auto">
        <header class="py-20 bg-{{ headerbgcolor if headerbgcolor else 'indigo-100' }} text-{{ headertextcolor if headertextcolor else 'black' }}">
            <div class="container px-6 mx-auto">
                <h1 class="lg:w-1/2">{{ title }}</h1>
                {% if intro %}
                <div class="mt-5 text-sm lg:w-1/2 intro">{{ intro | markdownFilter | safe }}</div>
                {% endif %}
            </div>
        </header>
        <section id="projects" class="py-20 text-black bg-indigo-100 section section--full">
            <div class="container px-6 mx-auto">
                <div class="lg:w-full section__content">
                    <span class="block w-20 mb-10 border-b-2 border-indigo-500 hr"></span>
                    <h2>Projects</h2>
                    <div class="lg:flex lg:flex-row lg:flex-wrap">
                        {% for project in projects %}
                        <div class="mt-8 lg:w-1/2 {{ ' lg:pl-6' if loop.index % 2 == 0 else ' lg:pr-6' }}">
                            <h3>{{ project.name }}{{ " (" + project.shortName + ")" if project.shortName }}</h3>
                            {{ project.description | markdownFilter | safe }}
                            {% if project.tags %}
                            <p class="tags">
                                {% for tag in project.tags %}
                                <span class="tag">{{ tag | safe }}</span>
                                {% endfor %}
                            </p>
                            <p><a rel="external" href="{{ project.link }}">Visit {{ project.shortName if project.shortName else project.name }} website</a></p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section id="tools" class="py-20 text-black bg-indigo-100 section section--full">
            <div class="container px-6 mx-auto">
                <div class="lg:w-full section__content">
                    <span class="block w-20 mb-10 border-b-2 border-indigo-500 hr"></span>
                    <h2>Tools</h2>
                    <div class="lg:flex lg:flex-row lg:flex-wrap">
                        {% for tool in tools %}
                        <div class="mt-8 lg:w-1/2 {{ ' lg:pl-6' if loop.index % 2 == 0 else ' lg:pr-6' }}">
                            <h3>{{ tool.name }}{{ " (" + tool.shortName + ")" if tool.shortName }}</h3>
                            {{ tool.description | markdownFilter | safe }}
                            {% if tool.tags %}
                            <p class="tags">
                                {% for tag in tool.tags %}
                                <span class="tag">{{ tag | safe }}</span>
                                {% endfor %}
                            </p>
                            <p><a rel="external" href="{{ tool.link }}">Visit {{ tool.shortName if tool.shortName else tool.name }} website</a></p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </article>
{% endblock %}
