{% extends 'layouts/base.njk' %}

{% set pageType = 'page--project' %}

{% block content %}
    {% include 'partials/components/page-header.njk' %}
    <article>
        <div class="content">
            <div class="wrapper">
                {{ content | safe }}
                {% if funderLogos.length %}
                    {% for logo in funderLogos %}
                        {% if logo.content %}
                        <div class="image-and-text image-and-text--image-{{ logo.imagePosition }} image-and-text--image-{{ logo.scale }} image-and-text--vertical-{{ logo.verticalAlignment }}">
                            <figure class="image-and-text__media">
                                <img src="{{ logo.image }}" alt="{{ logo.alt }}" class="image__max-height--{{ logo.maxHeight }}" />
                            </figure>
                            <div class="image-and-text__content">{{ logo.content | renderContent("md") | safe }}</div>
                        </div>
                        {% else %}
                        <p>
                        <img src="{{ logo.image }}" alt="{{ logo.alt }}" class="image-position--{{ logo.imagePosition }} image__max-height--{{ logo.maxHeight }} image__scale--{{ logo.scale }}" />
                        </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        {% set navPages = collections['projectSubpages_' + locale] | eleventyNavigation(translationKey) %}

        <nav class="nav--secondary" aria-labelledby="child-pages-heading">
        {%- if navPages.length %}
        <div class="wrapper">
            <h2 class="h3" id="child-pages-heading">Child Pages</h2>

            <div class="menu--secondary">
                <ul>
                    {% for child in navPages %}
                <li>
                    <a href="{{ child.url }}">{{ child.title | safe }}</a>
                </li>
                    {% endfor%}
                </ul>
            </div>
        </div>
        {% endif %}
        </nav>
    </article>
{% endblock %}
