{% extends 'layouts/base.njk' %}

{% set pageType = 'page--project' %}

{% block content %}
    {% set projectNav = collections.all | eleventyNavigation("Projects") %}
    {% set parentProject = projectNav | findByKey(parent, locale) | first %}
    {% set parentTitle = parentProject.title %}
    {% include 'partials/components/page-header.njk' %}
    <article>

        <div class="back-to-parent">
            <a href="{{ parentProject.url }}">{% include "svg/previous.svg" %} {{ 'Back to' if locale === 'en-CA' else 'Retour à la page' }} {{ parentProject.title | safe }}</a>
        </div>

        <div class="content">
            <div class="wrapper">
                <h2>{{ title | safe }}</h2>
                <nav class="flc-toc-tocContainer"></nav>
                {{ content | safe }}
            </div>
        </div>

        <nav class="nav--secondary"></nav>
    </article>
{% endblock %}
