{% extends 'layouts/base.njk' %}

{% set pageType = 'single single--person' %}
{% set postType = 'Team' %}
{% set postTypeUrl = '/about/team/' %}

{% block content %}
<article>
    {% include 'partials/components/person-header.njk' %}
    <div class="content">
            <div class="wrapper">
                {% if sections.length %}
                {% for section in sections %}
                <h2 class="h3">{{ section.title }}</h2>
                {{ section.content | renderContent('md') | safe }}
                {% endfor %}
                {% endif %}
                <h2 class="h3">Connect</h2>
                <table>
                {% if email %}
                <tr>
                    <th scope="row"><i class="icon fa-solid fa-envelope"></i> Email</th>
                    <td><a href="mailto:{{ email }}">{{ email }}</a></td>
                </tr>
                {% endif %}
                {% if website %}
                <tr>
                    <th scope="row"><i class="icon fa-solid fa-globe"></i> Website</th>
                    <td><a href="{{ website }}">{{ website | replace('https://', '') | replace('http://', '') }}</a></td>
                </tr>
                {% endif %}
                {% if bluesky %}
                <tr>
                    <th scope="row"><i class="icon fa-brands fa-bluesky"></i> Bluesky</th>
                    <td><a href="{{ bluesky }}">{{ bluesky | replace('https://bsky.app/profile/', '@') }}</a></td>
                </tr>
                {% endif %}
                {% if linkedin %}
                <tr>
                    <th scope="row"><i class="icon fa-brands fa-linkedin"></i> LinkedIn</th>
                    <td><a href="{{ linkedin }}">{{ title }}</a></td>
                </tr>
                {% endif %}
                {% if medium %}
                <tr>
                    <th scope="row"><i class="icon fa-brands fa-medium"></i> Medium</th>
                    <td><a href="{{ medium }}">{{ title }}</a></td>
                </tr>
                {% endif %}
                {% if github %}
                <tr>
                    <th scope="row"><i class="icon fa-brands fa-github"></i> Github</th>
                    <td><a href="{{ github | replace('https://github.com/', '') }}">{{ github | replace('http://github.com/', '@') | replace('https://github.com/', '@') }}</a></td>
                </tr>
                {% endif %}
                </table>
            </div>
        </div>
    </article>
{% endblock %}
