{% extends 'layouts/base.njk' %}

{% block content %}
    <article>
        {% include 'partials/components/single-header.njk' %}
        <div class="content">
            <div class="wrapper">
            <nav class="flc-toc-tocContainer"></nav>
            {{ content | safe }}
            </div>
        </div>
    </article>
{% endblock %}

{{ content | safe }}
