// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$black: #000;
$white: #fff;
$grey-100: #c4c4c4;
$indigo-100: #f8fbff;
$indigo-200: #e2edfc;
$indigo-500: #5a67d8;
$indigo-800: #3c366b;
$indigo-900: #251f50;
$blue-200: #e4f9ff;
$blue-500: #42cdfa;
$blue-900: #00303f;
$coral-500: #f66a6a;
$coral-800: #e53e3e;
$yellow-200: #faf089;
$yellow-500: #f6e05e;

$colors: (
  'black': $black,
  'white': $white,
  'grey-100': $grey-100,
  'indigo-100': $indigo-100,
  'indigo-200': $indigo-200,
  'indigo-500': $indigo-500,
  'indigo-800': $indigo-800,
  'indigo-900': $indigo-900,
  'blue-200': $blue-200,
  'blue-500': $blue-500,
  'blue-900': $blue-900,
  'coral-500': $coral-500,
  'coral-800': $coral-800,
  'yellow-200': $yellow-200,
  'yellow-500': $yellow-500
);

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }

  // Fonts
  --ff-sans: 'Open Sans', sans-serif;
  --ff-display: 'Work Sans', sans-serif;
  --ff-serif: 'Merriweather', serif;

  // Font Weights
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  // Type Scale
  --step--1: calc(14 / 16 * 1rem);
  --step-0: 1rem;
  --step-1: calc(18 / 16 * 1rem);
  --step-2: calc(22 / 16 * 1rem);
  --step-3: calc(24 / 16 * 1rem);
  --step-4: calc(28 / 16 * 1rem);
  --step-5: calc(32 / 16 * 1rem);
  --step-6: calc(42 / 16 * 1rem);
  --step-7: calc(44 / 16 * 1rem);
  --step-8: calc(62 / 16 * 1rem);
}
