// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  background: var(--indigo-800);
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  margin: auto auto 0;
  max-width: calc(var(--max-width) + var(--gutter));
  padding-bottom: rem(80);
  padding-top: rem(80);
  position: relative;
  width: calc(100vw - var(--gutter));

  &::after {
    background: inherit;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    margin-left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100vw;
    z-index: -1;
  }
}

.footer > * {
  flex: 0 0 100%;
  padding: 0 calc(var(--gutter) / 2);
}

.footer .logo svg {
  fill: currentColor;
  width: rem(192);
}

.footer a:hover,
.footer a:focus {
  background: var(--indigo-500);
}

.footer a:visited {
  text-decoration-color: var(--indigo-500);
}

.footer .social,
.footer .contact {
  margin-top: rem(48);

  &::before {
    border-bottom: rem(2) solid currentColor;
    content: "";
    display: block;
    margin-bottom: rem(8);
    width: 100%;
  }
}

.footer ul {
  list-style: none;
  margin-top: rem(24);
}

.footer li {
  margin-bottom: rem(8);
}

.footer .social a {
  text-decoration: none;
}

.footer .social svg {
  display: inline;
  fill: currentColor;
  margin-top: rem(-4);
  width: rem(16);
}

.footer .license-credit {
  font-size: var(--step--1);
  margin-top: rem(48);
}

@include breakpoint-up(md) {
  .footer .logo {
    flex: 0 0 100%;
  }

  .footer .social {
    flex: 0 0 calc(100% / 3);
  }

  .footer .contact {
    display: flex;
    flex: 0 0 calc(100% * 2 / 3);
    flex-direction: row;
    flex-wrap: wrap;

    .h3 {
      margin-bottom: rem(24);
      width: 100%;
    }

    div {
      margin-top: 0;
      width: 50%;
    }
  }

  .footer .license-credit {
    flex: 0 0 100%;
  }
}
