// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.banner {
	--parent-bg: var(--header-bg, var(--indigo-100));

	align-items: center;
	background: var(--fl-bgColor, var(--header-bg, var(--indigo-100)));
	color: var(--fl-fgColor, var(--header-fg, $black));
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(var(--max-width) + var(--gutter));
	padding: 0;
	position: relative;
	width: calc(100vw - var(--gutter));

	&::after {
		background: inherit;
		bottom: -1px;
		content: "";
		display: block;
		height: calc(1px + 100%);
		margin-left: 50%;
		position: absolute;
		transform: translateX(-50%);
		width: 100vw;
		z-index: -1;
	}
}

.page--home .banner {
	--header-bg: var(--white);

	z-index: 1;

	&::after {
		box-shadow: 0 rem(3) rem(10) var(--fl-fgColor, rgb(0 0 0 / 5%));
	}
}

.banner .wrapper {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	padding: 0 var(--gutter);
}

.no-js {
	.banner > .wrapper {
		align-items: flex-start;
		flex-direction: column;
	}
}

@include breakpoint-down(md) {
	.banner.banner--menu-visible,
	.page--home .banner.banner--menu-visible {
		--parent-bg: var(--indigo-800);
		--header-bg: var(--indigo-800);
		--header-fg: var(--white);
		--header-accent: var(--indigo-500);
	}
}

@include breakpoint-up(md) {
	.banner .wrapper {
		padding: 0;
	}
}
