// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  background: var(--indigo-800);
  color: var(--white);
  margin-top: auto;
}

.footer .container {
  margin: 0 auto;
  padding: rem(80) rem(24);
}

.footer .logo svg {
  fill: currentColor;
  width: rem(192);
}

.footer a:hover,
.footer a:focus {
  background: var(--indigo-500);
}

.footer a:visited {
  text-decoration-color: var(--indigo-500);
}

.footer .social,
.footer .contact {
  margin-top: rem(48);

  &::before {
    border-bottom: 2px solid $white;
    content: "";
    display: block;
    margin-bottom: rem(8);
    width: 100%;
  }
}

.footer ul {
  list-style: none;
  margin-top: rem(24);
}

.footer li {
  margin-bottom: rem(8);
}

.footer .social a {
  text-decoration: none;
}

.footer .social svg {
  display: inline;
  fill: currentColor;
  margin-top: rem(-4);
  width: rem(16);
}

.footer .license-credit {
  font-size: var(--step--1);
  margin-top: rem(48);
}

@media screen and (min-width: 1024px) {
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer .logo {
    width: 100%;
  }

  .footer .social {
    padding-right: rem(24);
    width: (100% / 3);
  }

  .footer .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: (100% * 2 / 3);

    .h3 {
      margin-bottom: rem(24);
      width: 100%;
    }

    div {
      margin-top: 0;
      width: 50%;
    }
  }
}
