// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.banner {
  background: $indigo-100;
  color: $black;
  padding-top: 1.5rem;
}

.banner .container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 1.5rem;
}
