---
permalink: '/admin/index.html'
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Content Manager</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <!-- Include the script that builds the page and powers Netlify CMS -->
  <script src="https://cdn.jsdelivr.net/npm/netlify-cms@2.10.192/dist/netlify-cms.js" integrity="sha256-Zh4YWc/jM51bs4TkmlBgSOTVk7aUoR7IwKuCJrsLe4w=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/prop-types@15.8.1/prop-types.min.js" integrity="sha256-5lNHGrqCR4au5dzhvLWobtMMhRjTRtKs4EYKVjOpy9s=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/nunjucks@3.2.3/browser/nunjucks-slim.min.js" integrity="sha256-sF3DVE/zfImpeam2xPb1Qg8qfXksKN0UukMg0uriPaE=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@babel/standalone@7.19.6/babel.min.js" integrity="sha256-LkP2iwpaTHvTeByi0GTpEdqKoRuqGZwwgFhJxRqIo24=" crossorigin="anonymous"></script>  <script src="/admin/util.js"></script>
  <script src="/admin/templates.js"></script>
  <script src="/admin/previews.js" type="text/babel"></script>
  <script>
    CMS.registerPreviewStyle('/assets/styles/app.css')
  </script>
</body>
</html>
