---
permalink: '/admin/index.html'
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Content Manager</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <!-- Include the script that builds the page and powers Netlify CMS -->
  <script src="https://cdn.jsdelivr.net/npm/netlify-cms@2.10.140/dist/netlify-cms.js" integrity="sha256-DUcp3W5yb4K+2ht9AmXWJ68GSd5CVs0Abpcr/DCB+EY=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/react@16.14.0/umd/react.production.min.js" integrity="sha256-XO+TZ9K8q6JbdNIODhOdLPkA6RI+X94mEBruf0D2tc8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/prop-types@15.6.0/prop-types.min.js" integrity="sha256-hMV/CxbecNC5yXFYw1PxgYj0AximiDUyWJbacFBm9vE=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/nunjucks@3.2.3/browser/nunjucks-slim.min.js" integrity="sha256-sF3DVE/zfImpeam2xPb1Qg8qfXksKN0UukMg0uriPaE=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@babel/standalone@7.14.7/babel.min.js" integrity="sha256-vA+dpUQGxHoFyGRIy5hs8ta4RDMllys12T50AZQ7WW4=" crossorigin="anonymous"></script>
  <script src="/admin/util.js"></script>
  <script src="/admin/templates.js"></script>
  <script src="/admin/previews.js" type="text/babel"></script>
  <script>
    CMS.registerPreviewStyle('/assets/styles/app.css')
  </script>
</body>
</html>
