---
permalink: "/manifest.webmanifest"
---
{
  "short_name": "IDRC",
  "name": "{{ site.name }}",
  "description": "An international community of open source developers, designers, researchers, educators and co-designers who work together to proactively ensure that emerging technology and practices are designed inclusively.",
  "icons": [
    {
      "src": "/images/icon-192.png",
      "type": "image/png",
      "sizes": "192x192"
    },
    {
      "src": "/images/icon-512.png",
      "type": "image/png",
      "sizes": "512x512"
    }
  ],
  "start_url": "/",
  "background_color": "#F8FBFF",
  "display": "minimal-ui",
  "scope": "/",
  "theme_color": "#00A0CC"
}
