---
permalink: resourceData.json
---
{
  "resources": [
  {%- for item in collections.resources %}
    {
      "title": {{ item.data.title | dump | safe }},
      "description": {{ item.data.description | dump | safe }},
      "publishedYear": {% if item.data.publishedYear %} {{ item.data.publishedYear | dump | safe }} {% else %} "" {% endif %},
      "thumbnailImage": {% if item.data.thumbnailImage %} {{ item.data.thumbnailImage | dump | safe }} {% else %} "" {% endif %},
      "thumbnailAltText": {% if item.data.thumbnailAltText %} {{ item.data.thumbnailAltText | dump | safe }} {% else %} "" {% endif %},
      "topics": [
        {%- for topic in item.data.topics -%}
        {{ topic | dump | safe }}{% if not loop.last %},{% endif %}
        {%- endfor -%}
      ],
      "types": [
        {%- for type in item.data.types -%}
        {{ type | dump | safe }}{% if not loop.last %},{% endif %}
        {%- endfor -%}
      ],
      "link": {% if item.data.link -%} {{- item.data.link | dump | safe -}} {%- else -%} "" {%- endif %}
    }{% if not loop.last %},{% endif %}
  {%- endfor %}
  ],
  "resourceTopics": {{ resourceTopics.resourceTopics | dump | safe }},
  "resourceTypes": {{ resourceTypes.resourceTypes | dump | safe }}
}
