@use 'sass:color';

:root {
  --offset: calc(30 / 16 * 1rem);
  --columns: 4;
  --color: #{color.adjust(silver, $alpha: -0.9)};
  --repeating-width: calc(100% / var(--columns));
  --column-width: calc((100% / var(--columns)) - var(--gutter));
  --background-width: calc(100% + var(--gutter));
  --background-columns:
    repeating-linear-gradient(
      to right,
      var(--color),
      var(--color) var(--column-width),
      transparent var(--column-width),
      transparent var(--repeating-width)
    );
}

@include breakpoint-up(sm) {
  :root {
    --columns: 8;
    --grid-width: calc(600 / 16 * 1rem);
  }
}

@include breakpoint-up(md) {
  :root {
    --columns: 12;
  }
}

html.grid::before {
  background-image: var(--background-columns);
  background-size: var(--background-width) 100%;
  bottom: 0;
  content: '';
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  min-height: 100vh;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100% - (2 * var(--offset)));
  z-index: 1000;
}
