:root {
    --black: #000;
    --white: #fff;
    --grey-100: #f2f2f2;
    --grey-200: #c4c4c4;
    --grey-light: #e9e9e9;
    --indigo-100: #f8fbff;
    --indigo-200: #e2edfc;
    --indigo-500: #3544d0;
    --indigo-800: #3c366b;
    --indigo-900: #251f50;
    --idrc-blue: #00a0cc;
    --blue-200: #e4f9ff;
    --blue-500: #42cdfa;
    --blue-900: #00303f;
    --coral-500: #f66a6a;
    --coral-800: #e53e3e;
    --teal-500: #77d6b3;
    --yellow-200: #faf089;
    --yellow-500: #f6e05e;

    /* Fonts */
    --ff-sans: "Open Sans", sans-serif;
    --ff-display: "Work Sans", sans-serif;
    --ff-serif: "Merriweather", serif;

    /* Font Weights */
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-black: 900;

    /* Type Scale */
    --step--1: calc(14 / 16 * 1rem);
    --step-0: 1rem;
    --step-1: calc(18 / 16 * 1rem);
    --step-2: calc(24 / 16 * 1rem);
    --step-3: calc(32 / 16 * 1rem);
    --step-4: calc(42 / 16 * 1rem);

    /* Grid System */
    --gutter: calc(30 / 16 * 1rem);
    --max-width: calc((1200 / 16 * 1rem) - var(--gutter));
}

@media screen and (width >= 1024px) {
    :root {
        --step-1: calc(22 / 16 * 1rem);
        --step-2: calc(28 / 16 * 1rem);
        --step-3: calc(44 / 16 * 1rem);
        --step-4: calc(62 / 16 * 1rem);
    }
}
