@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors

// @import
//  'vendors/uio';
// TODO: User Interface Options

// 3. Base stuff
@import
  'base/reset',
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/brand',
  'components/button',
  'components/image',
  'components/nav',
  'components/pagination',
  'components/metadata';

// 6. Page-specific styles
@import
  'pages/generic',
  'pages/home',
  'pages/history',
  'pages/projects-tools',
  'pages/news-ideas',
  'pages/single',
  'pages/team',
  'pages/404';

// 7. Themes
@import
  'themes/default';
