@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins',
  'abstracts/grid';

// 2. Base stuff
@import
  'base/reset',
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 3. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 4. Components
@import
  'components/brand',
  'components/button',
  'components/image',
  'components/nav',
  'components/pagination',
  'components/metadata';

// 5. Page-specific styles
@import
  'pages/generic',
  'pages/home',
  'pages/history',
  'pages/projects-tools',
  'pages/news-ideas',
  'pages/single',
  'pages/team',
  'pages/404';

// 6. Vendors
@import
  'vendors/uio';

// 7. Themes
@import
  'themes/default';
