@charset "UTF-8";

/* 1. Configuration and helpers */
@import url("./abstracts/_variables.css");
@import url("./abstracts/_grid.css");

/* 2. Base stuff */
@import url("./base/_reset.css");
@import url("./base/_base.css");
@import url("./base/_fonts.css");
@import url("./base/_typography.css");
@import url("./base/_helpers.css");

/* 3. Layout-related sections */
@import url("./layout/_header.css");
@import url("./layout/_footer.css");

/* 4. Components */
@import url("./components/_brand.css");
@import url("./components/_button.css");
@import url("./components/_image.css");
@import url("./components/_nav.css");
@import url("./components/_nav--secondary.css");
@import url("./components/_page-header.css");
@import url("./components/_pagination.css");
@import url("./components/_metadata.css");

/* 5. Page-specific styles */
@import url("./pages/_generic.css");
@import url("./pages/_home.css");
@import url("./pages/_history.css");
@import url("./pages/_projects.css");
@import url("./pages/_project.css");
@import url("./pages/_resources.css");
@import url("./pages/_news-ideas.css");
@import url("./pages/_single.css");
@import url("./pages/_team.css");
@import url("./pages/_404.css");

/* 6. Vendors */
@import url("./vendors/_uio.css");

/* 7. Themes */
@import url("./themes/_default.css");
