name: Visual regression tests

on: [pull_request]

jobs:
  backstop:
    name: Backstop
    if: ${{ github.repository_owner == 'inclusive-design'}}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1.4.3
      with:
        node-version: '12'
    - name: Cache node modules
      uses: actions/cache@v1
      with:
        path: node_modules
        key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
    - name: Wait for the Netlify Preview
      uses: jakepartusch/wait-for-netlify-action@v1
      id: netlify
      with:
        site_name: 'idrc'
    - name: Set environment variables
      uses: allenevans/set-env@v1.1.0
      with:
        BASE_URL: ${{ steps.netlify.outputs.url }}
    - name: npm install and run tests
      run: |
        npm i
        npm run test:backstop
      env:
        CI: true
    - uses: actions/upload-artifact@v2
      if: always()
      with:
        name: backstop-report
        path: backstop_data/html_report
