name: Run visual regression tests with BackstopJS

on: [pull_request]

jobs:
  backstop:
    name: Run visual regression tests
    if: ${{ github.repository_owner == 'inclusive-design'}}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1.4.3
      with:
        node-version: '12'
    - name: Cache node modules
      uses: actions/cache@v1
      with:
        path: node_modules
        key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
    - name: Wait for Netlify deploy preview
      uses: jakepartusch/wait-for-netlify-action@v1
      id: netlify
      with:
        site_name: 'idrc'
    - name: Set environment variables
      uses: allenevans/set-env@v1.1.0
      with:
        BASE_URL: ${{ steps.netlify.outputs.url }}
    - name: Install dependencies and run visual regression tests
      run: |
        npm i
        npm i -g backstopjs
        npm run test:backstop
      env:
        CI: true
    - name: Upload report as downloadable artifact
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: backstop-report
        path: |
          backstop_data/bitmaps_reference
          backstop_data/html_report
          backstop_data/bitmaps_test
    - uses: machine-learning-apps/pr-comment@master
      if: failure()
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        path: backstop_data/json_report
