name: Audit site with Lighthouse CI

on:
  pull_request:
    branches: [dev]

jobs:
  lhci-mobile:
    name: Run mobile Lighthouse CI audits
    if: github.repository_owner == 'inclusive-design' && github.actor != 'renovate[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Wait for Netlify deploy preview
        uses: kukiron/wait-for-netlify-deploy@v1.2.2
        id: netlify
        with:
          site_name: idrc
          max_timeout: 300
      - name: Run Lighthouse CI audits
        uses: treosh/lighthouse-ci-action@v12
        with:
          runs: 3
          urls: |
            ${{ steps.netlify.outputs.url }}
          uploadArtifacts: false
          temporaryPublicStorage: true
          configPath: ./.lighthouserc.js
  lhci-desktop:
    name: Run desktop Lighthouse CI audits
    if: github.repository_owner == 'inclusive-design' && github.actor != 'renovate[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Wait for Netlify deploy preview
        uses: kukiron/wait-for-netlify-deploy@v1.2.2
        id: netlify
        with:
          site_name: idrc
      - name: Run Lighthouse CI audits
        uses: treosh/lighthouse-ci-action@v12
        with:
          runs: 3
          urls: |
            ${{ steps.netlify.outputs.url }}
          uploadArtifacts: false
          temporaryPublicStorage: true
          configPath: ./.lighthouserc.js
        env:
          EMULATE_DEVICE: desktop
