name: Lighthouse CI - Desktop

on:
  push:
    branches:
      - dev
      - master
  pull_request:
    branches:
      - dev

jobs:
  lhci:
    name: Lighthouse CI
    if: ${{ github.repository_owner == 'inclusive-design'}}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Wait for the Netlify Preview
      uses: jakepartusch/wait-for-netlify-action@v1
      id: netlify
      with:
        site_name: 'idrc'
    - name: Audit URLs using Lighthouse
      uses: treosh/lighthouse-ci-action@v3
      with:
        runs: 3
        urls: |
          ${{ steps.netlify.outputs.url }}
        uploadArtifacts: true
        temporaryPublicStorage: true
        configPath: ./.lighthouserc.js
      env:
        EMULATE_DEVICE: desktop
